//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Responsive Embed
//  29. Reveal
//  30. Slider
//  31. Switch
//  32. Table
//  33. Tabs
//  34. Thumbnail
//  35. Title Bar
//  36. Tooltip
//  37. Top Bar

@import 'util/util';

// 1. Global
// ---------

$global-font-size: 16px;
$global-width: rem-calc(1500); 
$global-lineheight: 1.5;
$light-gray: #f4f4f4;
$medium-gray: #464645;
$dark-gray: #333333;
$black: #000000;
$white: #ffffff;
$primary-color: #00a6e2;
$fm-orange: #ff6c00;
$fm-green: #88BD45;
$fm-yellow: #ffb718;
$fm-red: #cf0a2c;
$fm-teal: #00a19a;
$fm-blue: #457bbe;
$fm-purple: #725090;
$fm-gray: #777874;
$pear: #c7d939; 
$celery: #a4c745;   
$offwhite: #f9f9f9;
$mosaic-first: #88BD45;
$mosaic-last: #E4F118;
$foundation-palette: (
 primary: $primary-color,
 secondary: $fm-orange,
 success: $fm-green,
 warning: $fm-yellow,
 alert: $fm-red,
); 
@include add-foundation-colors;
$orbit-palette: (
  green: $fm-green,
  orange: $fm-orange,
  yellow: $fm-yellow,
  red: $fm-red,
  purple: $fm-purple,
  blue: $fm-blue,
  teal: $fm-teal,
  gray: $fm-gray,
  primary: $primary-color,
);

$body-background: $white;
$body-font-color: $medium-gray;
$body-font-family: 'Roboto', Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-light: 300;
$global-weight-normal: 400;
$global-weight-medium: 500;
$global-weight-bold: 700;
$global-weight-black: 900;
$global-radius: 0;
$global-text-direction: ltr; 
$global-flexbox: false;
$print-transparent-backgrounds: true;



// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,     // FYI: min width on the body element is 320
  medium: 570px,  // was 600 but knocked it down just a tad 1/13
  large: 980px,  // position where aside and main stack/unstack
  xlarge: 1270px,  // position where we swap between mobile and desktop nav
  xxlarge: 1500px,
);
$print-breakpoint: medium;
$breakpoint-classes: (small medium large xlarge);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
);
$gutter: 20px;
$grid-column-align-edge: true;
$block-grid-max: 4;

// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: inherit;
$header-lineheight: 1.2;
$header-margin-bottom: 0.5em;
$header-styles: (
  small: (
    'h1': ('font-size': 30),
    'h2': ('font-size': 22),
    'h3': ('font-size': 20),
    'h4': ('font-size': 18),
    'h5': ('font-size': 16),
    'h6': ('font-size': 15),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: inherit;
$paragraph-lineheight: inherit;
$paragraph-margin-bottom: 1em;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid darken($light-gray, 15%);
$hr-margin: rem-calc(30) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.5rem;
$list-nested-side-margin: 1.5rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: inherit;
$blockquote-padding: rem-calc(8 30 9 25);
$blockquote-border: 5px solid $fm-green;
$cite-font-size: inherit;
$cite-color: inherit;
$cite-pseudo-content: ''; // '\2014 \0020'
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: 112.5%;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: rem-calc(38);

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: $fm-red;
$form-label-color-invalid: $fm-red;
$input-error-color: $fm-red;
$input-error-font-size: rem-calc(14);
$input-error-font-weight: $global-weight-normal;

// 7. Accordion
// ------------
 
$accordion-background: $light-gray;
$accordion-plusminus: false;
$accordion-title-font-size: rem-calc(18);
$accordion-item-color: $body-font-color;
$accordion-item-background-hover: scale-color($light-gray, $lightness: -5%);
$accordion-item-padding: 1rem 2rem 1rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: $dark-gray;
$accordion-content-padding: 0.5rem 1rem 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: false;
$accordionmenu-arrow-color: $white;
$accordionmenu-arrow-size: 6px;

// 9. Badge
// --------

$badge-background: $primary-color;
$badge-color: $white;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;
$badge-padding: 0.3em;
$badge-minwidth: 2.1em;
$badge-font-size: 0.6rem;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: rem-calc(11);
$breadcrumbs-item-color: $primary-color;
$breadcrumbs-item-color-current: $black;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: 0.75rem;
$breadcrumbs-item-uppercase: true;
$breadcrumbs-item-slash: true;

// 11. Button
// ----------

$button-padding: 0.85em 1.5em;
$button-margin: 0.5em 0 0;
$button-fill: solid;  // not used
$button-background: $fm-gray;
$button-color: $white;
$button-background-hover: $button-color;
$button-color-alt: $black; // not used
$button-radius: 999em;   //guaranteed pill shape at all heights
$button-sizes: (
  small: 0.75rem,
  default: 0.875rem,
  large: 1.0625rem,
);
$button-palette: (  
  primary: $fm-orange,
  secondary: $primary-color,
  tertiary: $fm-green,
  default: $medium-gray
);
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;

// 12. Button Group
// ----------------

$buttongroup-margin: 1rem 0;
$buttongroup-spacing: 2px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: false;

// 13. Callout
// -----------

$callout-background: none;
$callout-background-fade: 0%;  // don't use
$callout-border: 1px solid darken($light-gray, 5%);
$callout-margin: 0 0 1rem;
$callout-padding: $gutter;
$callout-font-color: currentColor;  // don't use
$callout-font-color-alt: currentColor;  // don't use
$callout-radius: 0;   // don't use
$callout-link-tint: false;   

// 14. Card
// --------

$card-background: none;
$card-font-color: $body-font-color;
$card-divider-background: none;
$card-border: 0px solid $fm-green;
$card-shadow: none;
$card-border-radius: 0;
$card-padding: $gutter;  // $card-padding can contain 4 values, one per side.
$card-margin: $gutter;  // $card-margin can contain 1 value used for bottom-margin only

// 15. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: (
  small: 0.66rem,
  medium: 1rem,
);
$closebutton-offset-vertical: (
  small: 0.33em,
  medium: 0.5rem,
);
$closebutton-size: (
  small: 1.5em,
  medium: 2em,
);
$closebutton-lineheight: 1;
$closebutton-color: $body-font-color;
$closebutton-color-hover: $black;

// 16. Drilldown
// -------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-arrow-size: 6px;
$drilldown-background: $white;

// 17. Dropdown
// ------------

$dropdown-padding: 1rem;
$dropdown-background: $offwhite;
$dropdown-border: 1px solid $medium-gray;
$dropdown-font-size: .875rem;
$dropdown-width: rem-calc(300px);
$dropdown-radius: $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: false;
$dropdownmenu-arrow-color: $fm-orange;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-min-width: rem-calc(340px);
$dropdownmenu-background: $white;
$dropdownmenu-border: 0px;

// 19. Forms
// ---------

$fieldset-border: 1px solid rgba($fm-gray, 0.5);
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(8 0 18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(17);
$helptext-color: inherit;
$helptext-font-size: rem-calc(14);
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $light-gray;
$input-prefix-border: 1px solid rgba($fm-gray, 0.5);
$input-prefix-padding: 1rem;
$form-label-color: inherit;
$form-label-font-size: rem-calc(16);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.6;
$select-background: rgba($white, 0.7);
$select-triangle-color: transparent;
$select-radius: 5px;
$input-color: $body-font-color;
$input-placeholder-color: rgba($body-font-color, 0.7);
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-font-weight: $global-weight-normal;
$input-background: rgba($white, 0.7);
$input-background-focus: inherit;
$input-background-disabled: $light-gray;
$input-border: 1px solid rgba($fm-gray, 0.5);
$input-border-focus: 1px solid rgba($fm-gray, 0.9);
$input-shadow: inset 0 1px 2px rgba($dark-gray, 0.1);
$input-shadow-focus: 0 0 4px rgba($dark-gray, 0.2);
$input-cursor-disabled: not-allowed;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: false; // maybe true once IE supports spinners?
$input-radius: 5px;
$form-button-radius: $button-radius;


// 20. Label
// ---------

$label-background: $primary-color;
$label-color: foreground($label-background);
$label-color-alt: $black;
$label-palette: (
  default: $fm-blue,
);
$label-font-size: 0.8rem;
$label-padding: 0.33333rem 0.5rem;
$label-radius: $global-radius;

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: 0;
$mediaobject-section-padding: $gutter;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 0;
$menu-item-padding: 0.7rem 1rem;  
$menu-item-color-active: $fm-orange;
$menu-item-background-active: $white;
$menu-icon-spacing: 1rem;
$menu-item-background-hover: $fm-orange;
$menu-border: $light-gray;

// 23. Meter
// ---------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $fm-green;
$meter-fill-medium: $fm-yellow;
$meter-fill-bad: $fm-red;

// 24. Off-canvas
// --------------

$offcanvas-size: 250px;
$offcanvas-vertical-size: 250px;
$offcanvas-background: $light-gray;
$offcanvas-shadow: 0 0 10px rgba($black, 0.7);
$offcanvas-push-zindex: 1;
$offcanvas-overlap-zindex: 10;
$offcanvas-reveal-zindex: 1;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.25);
$maincontent-class: 'off-canvas-content';

// 25. Orbit
// ---------

$orbit-bullet-background-active: rgba($dark-gray, 0.8);
$orbit-bullet-background: rgba($dark-gray, 0.5);
$orbit-bullet-diameter: 1em;
$orbit-bullet-margin: 0 0.2rem;
$orbit-bullet-margin-top: 1rem;
$orbit-bullet-margin-bottom: 1rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.75);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// --------------

$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: true;

// 27. Progress Bar
// ----------------

$progress-height: 1rem;
$progress-background: $medium-gray;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 28. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (  
  default: 4 by 3,
  widescreen: 16 by 9,
  square: 1 by 1,
  portrait:1 by 2,
  tall: 1 by 3
);

// 29. Reveal
// ----------

$reveal-background: none;
$reveal-width: 100%;
$reveal-max-width: 100%;
$reveal-padding: 0;   // not used.
$reveal-border: 0px solid $medium-gray;
$reveal-radius: 0;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($medium-gray, 0.85);

// 30. Slider
// ----------

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.5rem;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: 0.25;
$slider-radius: $global-radius;

// 31. Switch
// ----------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all 0.25s ease-out;

// 32. Table
// ---------

$table-background: scale-color($fm-blue, $lightness: 99%);
$table-color-scale: 4%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-is-striped: true;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: $fm-blue;
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale * 2);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $white;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;

// 33. Tabs
// --------

$tab-margin: 0;
$tab-background: $light-gray;
$tab-color: $primary-color;
$tab-background-active: $light-gray;
$tab-active-color: $primary-color;
$tab-item-font-size: rem-calc(16);
$tab-item-background-hover: $white;
$tab-item-padding: 1.25em 1.5em;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: foreground($tab-background, $primary-color);
$tab-content-padding: $gutter 0;
// these are my custom variables //
$tab-item-color: scale-color($medium-gray, $lightness: 26%);
$tab-item-hover-color: $medium-gray;
$tab-item-active-color: $primary-color;

// 34. Thumbnail
// -------------

$thumbnail-border: 0px solid $white; 
$thumbnail-margin-bottom: 0;
$thumbnail-shadow: 0 0 7px 0 rgba($black, 0.15); 
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 34. Title Bar
// -------------

$titlebar-background: $white;
$titlebar-color: $white;
$titlebar-padding: 0;
$titlebar-text-font-weight: inherit;
$titlebar-icon-color: $primary-color;
$titlebar-icon-color-hover: $primary-color;
$titlebar-icon-spacing: $gutter;

// 35. Tooltip
// -----------

$has-tip-font-weight: $global-weight-normal;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $fm-gray;
$tooltip-color: $white;
$tooltip-padding: 0.75rem;
$tooltip-font-size: 85%;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;

// 36. Top Bar
// -----------

$topbar-padding: 0;
$topbar-background: $white;
$topbar-submenu-background: $white;
$topbar-title-spacing: 0;
$topbar-input-width: 900px;
$topbar-unstack-breakpoint: xlarge;
