.overlay  {
  display: inline-block;  
	position: relative;
  background: $primary-color;  
  color: $white;
  max-width: 100%;
  transition: 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    img {
      opacity: 0.22;
    }
  }
}

.icon {
  &.secondary { 
    color: $blaze;  
    &:hover,
    &:focus {
      color: scale-color($blaze, $lightness: -10%);   
    }
    &:active {
      color: scale-color($blaze, $lightness: -20%);
    }
  }
  svg { 
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
}

