h2, h3, h4 {
 > a { display: inline-block; }
}

.background-green a,
.background-orange a,
.background-yellow a,
.background-red a,
.background-purple a,
.background-blue a,
.background-teal a,
.background-gray a,
.background-primary a,
thead a {
  @include anchor-on-dark(none);
}
a:hover {
  .background-green,
  .background-orange,
  .background-yellow,
  .background-red,
  .background-purple,
  .background-blue,
  .background-teal,
  .background-gray,
  .background-primary {
   opacity: 0.8;
  }
}
.card:not(:hover),
.sidebar.background-concrete {
  a:not(:hover):not(:focus):not(.button) {
    color: inherit;
  }
}
.card:hover a:not(.button) {
  color: $anchor-color-hover;
}
.background-white {
  a:not(.button) {
    color: $anchor-color;
    &:hover,
    &:focus {
      color: $anchor-color-hover;
    }
  }
}
.primary-color {
  color: $primary-color;  // may not be needed?
}
.video-modal {
  position: relative;
  display: inline-block;  
}
.video-length {
  position: absolute; 
  display: inline-block;
  min-width: rem-calc(90);
  color: $white;
  padding: 0.7em 0.4em 0.6em 2em;
  z-index:200; 
  left: 1px;
  bottom: 1px; 
  background: rgba($primary-color, 0.92);
  &::before {
    content: "";
    position: absolute;
    display: block;
   // background: transparent url("/images/control-play.3.3.1-x2.png") no-repeat top left / contain;
    background: transparent icon(play, 'none', 28px, 28px, 0, 0, 200, 200, '#fff', '14') no-repeat top left / contain;
    width: 1.35em;
    height: 1.35em;
    left: rem-calc(9);
    bottom: rem-calc(9); 
  }
  .overlay & {  
    transition: background 0.25s ease; 
  }  
  .twin-col & {
    right: 0px;
    bottom: 0px;
    left: auto;
    background: rgba($white, 0.3);
  }
}
.block {
    width: 100%;
    display: block;
    > img {
      width: 100% !important;
    }
}
@media screen {
  .modal-launch,
  .overlay  {
    display: inline-block; 
    background: $primary-color;  
    color: $white;
    img {
      opacity: 1;
      transition: opacity 0.25s ease;
      width: 100%;
    }
    &:hover,
    &:focus,
    .card:hover &  {
      color: $white;
      img {
        opacity: 0.22; 
      }
    }
  }

  .modal-launch {
    position: relative;  
    &::after {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      content: " ";
      z-index: 300;
      background: transparent url("/images/icon_expand.png") no-repeat top left;
    }
  }  
}
.overlay-contents {
  color: $white;
  padding: $gutter;
  @include breakpoint(small only) {
    background: $fm-gray;
  } 
  @media screen and #{breakpoint(medium)} { 
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index: 100;
  }
  @include breakpoint(large) {   
    padding: $gutter $gutter * 1.5; 
  }  
  @include breakpoint(xxlarge) {   
    padding: $gutter * 1.5 $gutter * 1.5 $gutter * 1.5 $gutter * 2; 
  }  
}
.overlay  {  
	position: relative;  
  &.overlay-dark {
    @media screen and #{breakpoint(medium)} {
      img {
        z-index: 90;
      }
      &::after {
        content: " ";
        display: block;      
        position: absolute;
        bottom: 0;
        left:0;
        right:0; 
        top: 0;
        z-index: 95;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
        transition: background-image 0.3s ease 0s;       
      }
      &:hover,
      &:focus  {
        &::after {
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 100%);
        }
      }
    }
  }
  
  &.overlay-gradient {
    .overlay-contents { 
      @include breakpoint(medium) {    
        top: 0;
        padding-right: 33%; 
      }  
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 60px)) {
        padding-right: 40%; 
      }
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 300px)) {
        padding-right: 45%; 
      }
      @include breakpoint(large) {   
        padding-right: 38%;
      } 
      @include breakpoint(xlarge only) {   
        padding-right: 33%;
      }  
    }
    @media screen and #{breakpoint(medium)} {    
      &::after {
        content: " ";
        display: block;      
        position: absolute;
        bottom: 0;
        left:0;
        right:0; 
        top: 0;
        background: linear-gradient(to right, rgba($fm-gray,1) 0%,rgba($fm-gray,0.7) 50%,rgba($fm-gray,0.3) 100%);
        transition: background-image 0.3s ease 0s;       
      }
      &:hover,
      &:focus {
        &::after {
          background: linear-gradient(to right, rgba(mix($fm-gray, $primary-color, 40%),0.8) 0%,rgba(mix($fm-gray, $primary-color, 30%),0.4) 50%,rgba(mix($fm-gray, $primary-color, 20%),0.1) 100%); 
        }
      }
    } 
  }
}


@media print { 
  .overlay-gradient > img { padding-right: 50%; }
  .video-length { display: none; }
}
