.feature-block {
  min-height: auto;
  position: relative;
  padding-bottom: $gutter; 
  line-height: 1.3;
  .xlarge-up-2 & {
    @include breakpoint(large only) {
      max-width: rem-calc(800);
      margin-left: auto;
      margin-right: auto;
    } 
  }  
}
.release-featured,
.research-featured,
.investors-featured { 
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-bottom: 4rem;
  p + p {
    margin-top: $global-margin * 1.5;
  } 
}  
.research-featured {  // research featured item  
  background-position: center top;
  background-image: linear-gradient(rgba($primary-color, 0.8), rgba($primary-color, 0.8)), url('/images/research/featured-research-background.jpg');
}
.release-featured {   // press release featured item
  background-position: center center;
  background-image: linear-gradient(rgba($primary-color, 0.8), rgba($primary-color, 0.8)), url('/images/media/featured-background.jpg');
}
.investors-featured {   // press release featured item
  background-position: right top;
  background-image: linear-gradient(rgba($primary-color, 0.8), rgba($primary-color, 0.8)), url('/images/about/investors_feature_bg.jpg');
}
.recent-headlines-container {
  min-height: 40rem;
  h4 {
    font-weight: $global-weight-medium;
    margin: 0.2em 0;
  }
}

.placeholder {
  margin: 2.5rem auto 3.5rem;
}