.avatar {
	display: table;
	margin: 2rem 0 0;
	>div {
		display: table-cell;
		vertical-align: middle;
	}
	img {
		border-radius: 50%;
		margin: 0 0.75rem 0 0;
    max-width: 5rem;
	}
	figcaption {
		line-height: 1.2;
	}
}
