$avatar-width: 80px;

.avatar {
	margin: 2rem 0 0;
	> div {
		display: table-cell;
		vertical-align: middle;
    &:first-child {
      width: rem-calc($avatar-width + $gutter);
      padding-right: $gutter;
    }
	}
	img {
		border-radius: 50%; 
    width: rem-calc($avatar-width);   
	}
	figcaption {
    max-height: 6em;
    margin: 0;
	}
}
