.blog-block {
	margin-bottom: $global-margin * 2.0625;  
  &_lg {
    margin-bottom: 0.25rem; // basically $grid-column-gutter - $global-margin; 
  }
	.overlay {
		width: 100%;
    max-width: initial;
    margin-bottom: $global-margin;
    img {
      width: 100%;
    }
		.blog-block__txt {
			position: absolute;
			bottom: 0%;
			text-align: center;
			width: 100%;
      padding: $global-padding 20%;
			transition: visibility 0.3s ease;
			h3 {
				font-size: rem-calc(28);
				font-weight: $global-weight-light;
				line-height: 1.2;
				@include breakpoint(large) {
					font-size: rem-calc(48);
        }  
			}
		}  
	}
	&__date {
		font-size: rem-calc(14);
		font-weight: $global-weight-light;
		text-transform: uppercase;
		color: adjust-hue($fm-gray, -15);
	}

	h3 {
		font-size: rem-calc(18);
		font-weight: $global-weight-medium;
		margin-bottom: 0;
		a {
			color: $medium-gray;
      &:hover,
      &:focus,
      &:active {
        color: $primary-color;
      }
		}
	}

	&__cat {
		color: adjust-hue($fm-gray, -15);
		font-size: rem-calc(14);
		font-weight: $global-weight-bold;
		margin-bottom: $global-margin * 0.625;
		text-transform: uppercase;
	}

	p {
		font-size: rem-calc(14);
		font-weight: $global-weight-light;
	}

	&_title-only {
		h3 {
			font-size: rem-calc(22);
		}
	}

	&_sidebar {
		h3 {
			font-size: rem-calc(14);
			@include breakpoint(large) {
				font-size: rem-calc(18);
			}
		}
		.blog-block__cat {
			margin: 0;
		}
	}
}


.medium-up-2, 
.medium-up-1 {  
  > div:first-child {
    .blog-block__txt {
      background: rgba($niagara, 0.8);
    }
  }
  > div:last-child {
    .blog-block__txt {
      background: rgba($wisteria, 0.8);
    }
  }  
}

.recommended-wrapper {
	h2 {
		color: $fm-gray;
		font-size: rem-calc(28);
		margin-bottom: $global-margin * 1.5;
		text-transform: uppercase;
	}
	h3 {
		font-size: rem-calc(22);
		font-weight: $global-weight-medium;
		margin-bottom: $global-margin;
	}
}
