
.xlarge-up-3 {    
  .column:nth-child(2n+1) > div.blog-block {
      border-bottom: 3px solid color-shift($fm-green, $pear, 3, 1);
  }
  .column:nth-child(2n+2) > div.blog-block {
      border-bottom: 3px solid color-shift($fm-green, $pear, 3, 2);
  }
  @include breakpoint(xlarge) {
    .column:nth-child(3n+1) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 1);
    }
    .column:nth-child(3n+2) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 2);
    }
    .column:nth-child(3n+3) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 3);
    } 
  }
} 
.large-up-4 {
    .column:nth-child(4n+1) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 1);
    }
    .column:nth-child(4n+2) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 2);
    }
    .column:nth-child(4n+3) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 3);
    } 
    .column:nth-child(4n+4) > div.blog-block {
        border-bottom: 3px solid color-shift($fm-green, $pear, 4, 4);
    } 
}

.clippings {
  min-height: auto;
}
.clippings-gridblock {
  padding-top: $global-padding;
  font-size: rem-calc(14);
  font-weight: $global-weight-light;  
    padding-bottom: $global-padding * 3;
  @include breakpoint(medium) {
    padding-right: $global-padding * 3;  
  }
}
.clippings-block {
  padding-bottom: $global-padding * 2;
  border-bottom: 1px solid darken($light-gray, 5%); 
  margin-bottom: $global-padding * 2;
  h3 {
    padding: 0.35rem 0 0.45rem;
  }
  p {
    margin: 0;
  }
}
.blog-block {
  max-width: 20rem;
  margin: 0 auto $gutter;
  @include breakpoint(large) {
    max-width: initial;
	  margin: 0 0 $gutter;
  }
	.overlay {
		width: 100%;
    max-width: initial;
	}
}  

.block-covertext {
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 100%;
  padding: $global-padding 20%;
  transition: visibility 0.3s ease;
  font-weight: $global-weight-light;
  line-height: 1.2;
  color: $white;
  &:hover {
    top: 0;
    padding: 30% 20%;
  }    
}
.blog-block-lg {
  border-bottom-width: 0px !important;
  min-height: auto;
  max-width: rem-calc(670);
  position: relative;
	.overlay {
    margin-bottom: 0;
	}
}
.recommended-wrapper {
  background: $light-gray;
}
