 
  @for $i from 1 through 4 {
    .column:nth-child(#{$i}) > div.blog-block {
      border-bottom: 3px solid color-shift($fm-green, #b5dc2a, 4, $i);
    }
  }  

.article-block {
  padding-right: $global-padding * 3;
  padding-bottom: $global-padding * 3;
  font-size: rem-calc(14);
  font-weight: $global-weight-light;  
}

.blog-block {
	margin-bottom: $global-margin * 2.0625;  
  @include breakpoint(large) {
    min-height: rem-calc(570);
  }
	.overlay {
		width: 100%;
    max-width: initial;
    margin-bottom: $global-margin;
	}
	&_title-only {
		h3 {
			font-size: rem-calc(22);
		}
	}  
}  

.block-covertext-heading {
  font-size: rem-calc(28);        
  @include breakpoint(large) {
    font-size: rem-calc(48);
  }  
} 
.block-covertext {
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 100%;
  padding: $global-padding 20%;
  transition: visibility 0.3s ease;
  font-weight: $global-weight-light;
  line-height: 1.2;
  color: $white;
  &:hover {
    top: 0;
    padding: 30% 20%;
  }    
}
.blog-block_lg {
  border-bottom-width: 0px !important;
  min-height: auto;
  position: relative;
  a {    
    display: block;
  }  
  &:first-child {
    .block-covertext {
      background: rgba($fm-teal, 0.8);
    }
  }
  &:last-child {
    .block-covertext {
      background: rgba($fm-purple, 0.8);
    }
  }  
}
.blog-block_sidebar {
  min-height: auto;
  h3 {
    font-size: rem-calc(14);
    @include breakpoint(large) {
      font-size: rem-calc(18);
    }
  }
}


.recommended-wrapper {
  background: $light-gray;
	h2 {
		color: $fm-gray;
		font-size: rem-calc(28);
		margin-bottom: $global-margin * 1.5;
		text-transform: uppercase;
	}
	h3 {
		font-size: rem-calc(22);
		font-weight: $global-weight-medium;
		margin-bottom: $global-margin;
	}
}
