.button {
	border-color: transparent;
	border-style: solid;
	border-radius: 999em;  //guaranteed pill shape at all sizes
	font-weight: $global-weight-bold;
	text-transform: uppercase;
	transition: all 0.3s ease;
	&.large {
		@include breakpoint(medium) {
			font-size: rem-calc(22);
		}
	}

	&.large, .button-group.large & {
		border-width: 3px;
	}
	&.small, .button-group.small &,
	&.tiny, .button-group.tiny & {
		border-width: 1px;
	}

	&:hover {
		&.primary, &.secondary {
			background: $white;
		}
		&.primary {
			color: $primary-color;
			border-color: currentColor;
		}
		&.secondary {
			color: $secondary-color;
			border-color: currentColor;
		}
	}
	
	&.hollow {
		border-width: 2px;
		color: $white; 
		border-color: $white;
    background: transparent; 
    &:hover, 
    &:focus {
      background: rgba($black, 0.14);
      color: rgba($white, 0.85); 
      border-color: rgba($white, 0.85);
    }
    &:active {
      background: rgba($black, 0.22);
      color: rgba($white, 0.75); 
      border-color: rgba($white, 0.75);
    }
		&.darken {
			border-color: $fm-gray;
			color: $fm-gray;
			&:hover {
				border-color: $fm-gray;
				background: $fm-gray;
				color: $white;
			}
		}
	}

	&.inverted {
		background: $white;
		color: $primary-color;
		&:hover,
    &:focus  {
			background: transparent;
			border-color: $white;
			color: $white;
		}
	}
  
  svg { 
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
}
.button-group .button {
  border-radius: 0;
}
 
