$callout-palette: (
  green: $fm-green,
  orange: $blaze,
  yellow: $buttercup,
  red: $crimson,
  purple: $wisteria,
  blue: $steel,
  teal: $niagara,
  gray: $medium-gray,
  primary: $primary-color
);

.callout {
  margin: $callout-margin;
  background-color: $callout-background;
  border-radius: 0.3rem;
  position: relative;
  padding: $callout-padding;
  &.large {
    padding: $callout-padding * 2;
  }
  &.small {
    padding: $callout-padding * 0.5;
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }        
  .close-button {
    color: currentColor;
  }
  &.hollow {
    background-color: $white;
    border: 0.1875rem solid $callout-background;
  }
  @each $name, $color in $callout-palette {    
    &.callout-#{$name} {      
      background-color: $color;
      color: $white;
      a {
        @include anchor-on-dark;
      } 
    }
  }
  @each $name, $color in $foundation-palette {
    &.#{$name} {
      background-color: scale-color($color, $lightness: $callout-background-fade);
    }
  }
}