
.page-cta {
	background: $primary-color;
	color: $white;
	padding: 55px 0 40px;
	position: relative;
	@include breakpoint(large) {
		padding: 75px 0 70px;
	}

	&_niagara {
		background: $niagara;
	}
	&_buttercup {
		background: $buttercup;
	}

	&__cat {
		font-size: rem-calc(14);
		font-weight: $global-weight-bold;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	h3 {
		font-size: rem-calc(32);
		font-weight: $global-weight-medium;
		line-height: 1.2;
		@include breakpoint(large) {
			font-size: rem-calc(52);
		}
	}

	&__wrapper {
		position: relative;
		z-index: 2;
		@include breakpoint(large) {
			display: table;
			width: 100%;
		}
	}

	&__txt {
    @include breakpoint(medium) {
    }
    @include breakpoint(large) {
			@include grid-col-size(8);
      padding-right: 7rem;
			display: table-cell;
      p {
        font-size: rem-calc(22);
        font-weight: $global-weight-light;
        margin: 1.5em 0;
        @include breakpoint(large) {
          &:not(.lead) {
            margin-bottom: 0;
          }
        }
      }      
		}
	}

	&__btn {
    @include breakpoint(medium) {
      text-align: right;
    }
		@include breakpoint(large) {
			@include grid-col-size(4);
			display: table-cell;
			vertical-align: middle;
		}

		.expanded {
			@include breakpoint(medium) {
				display: inline-block;
				width: auto;
			}
		}
    input {
      max-width: rem-calc(300px);
    }

		.input-btn-respond {
			@include breakpoint(small down) {
				display: block;
				> div {
					display: block;
					&:last-child {
						white-space: normal;
					}
				}
			}
			@include breakpoint(medium) {
				>div:first-child {
					padding-right: 20px;
				}
			}
		}
	}

	&_sidebar {
		padding: 30px 0 20px;
		h3 {
			font-size: rem-calc(32);
			margin-bottom: .5rem;
		}
		.page-cta__wrapper {
			display: block;
			@include breakpoint(large) {
				max-width: 305px;
			}
		}
		.page-cta__txt,
		.page-cta__btn {
			@include grid-col-size(12);
			display: block;
			text-align: left;
		}
		.page-cta__btn {
			margin-top: 2rem;
      text-align: left;
		}
		.input-btn-respond {
			display: block;
		}
    p {
      font-size: rem-calc(18);
    }
	}

	&_feature {
		background: url('/images/feature-bg.jpg') no-repeat center;
		background-size: cover;
		min-height: 383px;
		h3 {
			font-weight: $global-weight-bold;
		}
	}
}

