.callout {
  margin: $callout-margin;
  background-color: $callout-background;
  position: relative;
  padding: $callout-padding;
  &.large {
    padding: $callout-padding * 1.5;
  }
  &.small {
    padding: $callout-padding * 0.5 $callout-padding * 0.75;
  }
  &.xlarge {
    padding: $callout-padding * 2;
    @include breakpoint(large) {
      padding: $callout-padding * 3;
    }
    @include breakpoint(xlarge) {
      padding: $callout-padding * 3 7em;
    }
    .reveal & {
      @include breakpoint(xlarge) {
        padding: 7rem;
      }
    }   
  }
  &.rounded {
    border-radius: 0.35rem;
  }
  > :first-child:not(.button) {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }        
  .close-button {
    color: currentColor;
  }
  &.hollow-thin,
  &.hollow {
    background-color: $white;
    border: $callout-border;
    color: $fm-gray;
  }
  &.hollow {
    border-width: 3px;
  }
  &.callout-overlay {    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.alert {
    background-color: mix($fm-red, $white, 10%);
    border-radius: 5px;
    border: 1px solid $fm-red;
    color: $black;  
    padding: $callout-padding * 0.5 $callout-padding;   
    margin: $callout-padding * 0.5 0;
    font-weight: $global-weight-medium;
  }
}

