/// card
.card {
  border-bottom-width: 3px;
  text-align: left;
	.overlay,
  .modal-launch,
  .video-modal {
		width: 100%;
	}
  .avatar {
    @media screen {
      color: $fm-gray;
      position: absolute;
      left: $gutter;
      right: $gutter;
      bottom: $gutter;
      margin: 0;    
    }
  } 
}
.card-section { 
  &:not(.text-center) {
    padding-left: 0;
    @include breakpoint(medium) {
      padding-right: $gutter * 2;
    }    
  }
}
.card-divider {
  position: relative;
}
.perspectives {
  @media screen {
    .card { 
      margin-top: $gutter * 2.5;
      margin-bottom: 0;
    }
    .card-divider {
      padding-bottom:  $gutter * 5.3;
      border-bottom: $gutter solid $white;
      &.double-avatar { 
        padding-bottom: 150px; 
      } 
    }
  }
} 

.pre-footer-promo.background-concrete {
  @media screen {
    .card { 
      margin-top: $gutter/2;
      position: relative;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $gutter;
        background-color: $light-gray;
      }
      > .card-divider:not([data-equalizer-watch]) {
        margin-bottom: $gutter;
      }
    }
  }
}

@media screen and #{breakpoint(medium)} {
  &.medium-up-4 {
    @for $i from 1 through 4 {
      > div:nth-child(4n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 4, $i);
      }
    }    
  }
  &.medium-up-3 {
    @for $i from 1 through 3 {
      > div:nth-child(3n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
  &.medium-up-2 {
    @for $i from 1 through 2 {
      > div:nth-child(2n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
}
@media screen and #{breakpoint(large)} {
  &.large-up-4 {
    @for $i from 1 through 4 {
      > div:nth-child(4n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 4, $i);
      }
    }    
  }
  &.large-up-3 {
    @for $i from 1 through 3 {
      > div:nth-child(3n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
  &.large-up-2 {
    @for $i from 1 through 2 {
      > div:nth-child(2n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
}

@media screen and #{breakpoint(xlarge)} {
  &.xlarge-up-4 {
    @for $i from 1 through 4 {
      > div:nth-child(4n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 4, $i);
      }
    }    
  }
  &.xlarge-up-3 {
    @for $i from 1 through 3 {
      > div:nth-child(3n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
  &.xlarge-up-2 {
    @for $i from 1 through 2 {
      > div:nth-child(2n+#{$i}) > .card {
        border-bottom-color: color-shift($fm-green, $pear, 3, $i);
      }
    }  
  }
}
