/* 
image:
reveal-overlay reveal.overlay-image modal-content figure button

image gallery:
reveal-overlay reveal.overlay-gallery modal-content figure button
video:
reveal-overlay reveal.overlay-video responsive-embed button

*/


.reveal {
  .close-button,
  .close-button.medium {  
    font-size: calc(20px + 16 * (100vw - 320px)/1180);  
    line-height: 1;
    @include breakpoint(xlarge){
      font-size: rem-calc(36);
    }
  }  
}
.modal-header .close-button  {
  right: 0;
  top: 0;
} 
.overlay-video,
.overlay-image,
.overlay-gallery {
  .close-button {  
      right: -0.95em;
      top: -0.95em;  
      line-height: 0.95;
  } 
}
.close-button {
  svg { 
    width: 1em;
    height: 1em;
  }
}

