// fix for table hover striping affecting header rows
table.hover:not(.unstriped) {
  thead {
    tr:nth-of-type(n):hover    {
      background-color: $table-head-row-hover;
    }
  }
}

table {
  border-collapse:separate;  
  border-spacing: 0; 
  color: $table-foot-font-color; 
  border-bottom: 2px solid scale-color($fm-blue, $lightness: 60%);
  td, th {  border: 1px solid $white; }
}

tbody th:not([class]),
tfoot th:not([class]) {
  text-align: #{$global-left};
}
table tfoot td {
  font-weight: inherit;
}
@include breakpoint(medium down){
  table.stack.show-header {
    thead {
      display: block;
      th {
        display: none;
      }
      th:first-child {
        display: block;
      }
    }  
  }
}
.research-table {
  color: $fm-gray;
  border-collapse:collapse;  
  border-bottom-width: 0;
  th, 
  td {
    padding: 0.5rem 0.4rem;
  }
  thead {
    background: $primary-color;
    
  }
  strong {
    font-weight: $global-weight-black;
  }
  tbody {
    tr:nth-child(n) {  
      background: #fff;
      td {
        border: 1px solid darken($light-gray, 5.5);
      }
    }
  }
}

.vertical-top { vertical-align: top; } 
.vertical-baseline {   vertical-align: baseline; } 
.vertical-bottom {   vertical-align: bottom; }
.overflow-horizontal { overflow-x: auto; }
