// default th tag alignment
tbody th:not([class]),
tfoot th:not([class]) {
  text-align: #{$global-left};
}
table tfoot td {
  font-weight: inherit;
}
table.stack.show-header {
  thead {
    display: block;
    th {
      display: none;
    }
    th:first-child {
      display: block;
    }
  }  
}
.research-table {
  color: $fm-gray;
  border-collapse:collapse;  
  th, 
  td {
    padding: 0.5rem 0.4rem;
  }
  thead {
    background: $primary-color;
  }
  strong {
    font-weight: $global-weight-black;
  }
  tbody {
    border-width: 0px;
    tr:nth-child(n) {  
      background: #fff;
      td {
        border: 1px solid darken($light-gray, 5.5);
      }
    }
  }
}