
.box-right-40 {
  @include breakpoint(medium) {
    float: right;
    width: 40%;
    margin-left: $gutter;

  }  
}
.box-left-40 {
  @include breakpoint(medium) {
    float: left;
    width: 40%;
    margin-right: $gutter;
  }  
}

.box-right-fixed300 {
  @include breakpoint(medium) {
    float: right;
    width: rem-calc(300);
    margin-left: $global-margin;
  }  
}

.box-left-fixed300 {
  @include breakpoint(medium) {
    float: left;
    width: rem-calc(300);
    margin-right: $global-margin;
  }  
}
