.pre-footer-promo {
  margin: 0;
  padding: $global-padding 0 ;
  @include breakpoint (large) {
    padding-bottom: $global-padding * 2;
  }
  position: relative;
}
.footer-promo {  
  padding: 2.5rem 0;
  margin: 0;
  position: relative;  
  font-size: rem-calc(16);
  font-size: calc(16px +  6 * (100vw - 320px)/1180); 
  @include breakpoint(xxlarge) {
		font-size: rem-calc(22);
	}
  @include breakpoint(large) {
    padding: 4.375rem 0;
  }    
  p {
    font-weight: $global-weight-light;
    margin: 1.5rem 0;
    @include breakpoint(large) {   
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > .column {
    position: relative;
  }
}
.footer-promo-cta { 
  width: 100%;      
  @media screen and #{breakpoint(large)} {              
    @include vertical-center;
    right: 0;
    text-align: right;
    position: relative;
  }
}

.footer-form {      // may not be needed?
  display: table;
  width: 100%;
  > :not(:last-child) {
    max-width: 18rem;
    margin-right: 1rem;
  }
  > * {
    display: table-cell;
    vertical-align: middle;
    margin: 0.25rem 0;
  }
}

@media print {
  .footer-promo .column { 
    width: 100%;
  }
}