select {
  box-shadow: $input-shadow;
  position: relative;  
  &:not([multiple]) { 
    background-image: icon(chevron-down, $fm-gray, 24, 16, 0, 100, 800, 300);
    background-position: $global-right center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding-right: 1.5rem;
  }
}

input[type="email"] {
  position: relative;          
  background-image: icon(email, $fm-gray, 24, 24, 0, 3, 24, 24);
  background-position: $global-right center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
input[type="search"] {
  position: relative;          
  background-image: icon(search, $fm-gray, 24, 24);
  background-position: $global-right center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
legend {
  font-weight: $form-label-font-weight;
} 
fieldset {
  margin-bottom: rem-calc(18); 
  &.fieldset  {
    border-radius: $input-radius;
    legend {
      background: inherit; // override foundation default
    }
    label {
      font-weight: $global-weight-normal;
    }
  }
}  
.help-text  {
  opacity: 0.8;
  margin-top: ($form-spacing * 0.75) * -1;
} 
[type="checkbox"] + label, 
[type="radio"] + label {
  font-weight: 400;
}
.form {
  margin: $fieldset-margin;
  aside & {
    padding-top: $global-padding;
  }
  [type="radio"] ,  
  [type="checkbox"] {
    @include element-invisible;
    + label::before {    
      background: inherit;
      border: 2px solid $fm-gray;
      content: '\2003';
      display: inline-block;
      font-weight: 700;
      height: 1.25em;
      width: 1.25em;
      font-size: 1em;
      line-height: 1;
      margin: 0 0.5em;
      text-align: center;
    }
    &:checked + label {
      color: $fm-green;
      &::before {
        color: $white;
        border-color: $fm-green;
      }
    }
  }
  [type="radio"]:checked + label::before {
      background: $fm-green;
      background: radial-gradient(ellipse at center, $fm-green 0%,$fm-green 60%,$white 60%);
  }
  [type="radio"] + label::before {
    border-radius: 50%;  
  } 
  [type="checkbox"]:checked + label::before {
      content: '\2713';  
      background: $fm-green;
  }  
  .input-group {
    > :first-child {
      border-radius: $input-radius 0 0 $input-radius;
    }
    > :last-child {
      border-radius: 0 $input-radius $input-radius 0;
      > * {
        border-radius: 0 $input-radius $input-radius 0;
      }
    }
    .input-group-field {
      height: 2.6125rem;      
    }
  } 
}
.outline { 
  [type="text"], 
  [type="password"], 
  [type="date"], 
  [type="datetime"], 
  [type="datetime-local"], 
  [type="month"], 
  [type="week"], 
  [type="email"], 
  [type="number"], 
  [type="search"], 
  [type="tel"], 
  [type="time"], 
  [type="url"], 
  [type="color"],
  select,
  textarea {
    border: 1px solid $white;
    background-color: transparent;
    &:active,
    &:focus {
      background-color: $white;
    }
  }
  input[type="email"]:not(:focus) {
    background-image: icon(email, $white, 24, 24, 0, 3, 24, 24);
  } 
  input[type="search"]:not(:focus) {    
    background-image: icon(search, $white, 24, 24);
  }
  select:not([multiple]):not(:focus) {
    background-image: icon(chevron-down, $white, 24, 16, 0, 100, 800, 300);
  }
  .fieldset,
  .input-group-label, 
  [type="radio"] + label::before,
  [type="checkbox"] + label::before {
    border-color: $white;
  }
  [type="radio"]:checked + label,
  [type="checkbox"]:checked + label {
    color: $white;
  }    
  input::placeholder,
  textarea::placeholder {
    color: rgba($white, 0.8);
  }
}

.form-error {    // override defaults
  margin-bottom: 1em;
  margin-top: 0;
}

label.is-invalid-label,
.is-invalid-input + .help-text {
  color: $form-label-color-invalid;
}
