body {
  min-width: 320px;
}
// prevent padding on svg from distorting the aspect ratio, and defaulting to middle alignment for inline svgs
svg {
  box-sizing: content-box;
  vertical-align: middle;
}
// reseting odd margins that are part of Foundation default
figure { 
 margin: $global-margin 0;
 img { 
   width: 100%;
   max-width: auto;
 }
}
sup, sub {
  font-size: 65%;
}
blockquote {
  font-size: rem-calc(17); 
  font-weight: $global-weight-normal;
  font-size: calc(17px +  3 * (100vw - 320px)/1180);
  @include breakpoint(xxlarge) {
    font-size: rem-calc(20);
  }
  footer { 
    font-weight: $global-weight-light;
    font-style: italic;
    padding: 0;
    font-size: 90%;
    @include breakpoint(large) {
      font-size: 80%;
    }
    &:before {
    content: "\2014 \0020";
    }
  }
  cite { 
    display: inline;
  }
  :last-child {
    margin-bottom: 0;
  }
}

