h2 {
	margin-bottom: 3rem;
}

.section_padding {
	padding: 60px 0 65px;
	@include breakpoint(medium) {
		padding: 55px 0;
	}
}

#isMobile {
	display: none;
	@include breakpoint(small only) {
		display: block;
	}
}

#isTablet {
	display: none;
	@include breakpoint(medium only) {
		display: block;
	}
}

#isDesktop {
	display: none;
	@include breakpoint(large) {
		display: block;
	}
}
// reseting odd margins that are part of Foundation default
figure { 
 margin: $global-margin;
}