$hero-opacity: 0.8;
$hero-blend-color: $primary-color;

// only apply color and backgrounds on screen, not in print
@media screen {
  .hero {
    background: transparent url('/images/hero/hero-mobile.jpg') no-repeat top center fixed;
    position: relative;
    color: $white;    
    padding: 30px 0;
    background-size: cover;
    @include breakpoint(medium) {
      padding: 100px 0 55px;
      background-image: url('/images/hero/hero-desktop.jpg');
    }
    @include breakpoint(xlarge) {
      padding: 150px 0 85px;
    }
  }    
  .hero-text {
    text-align: center;
    margin: 0 auto;
    @include breakpoint(medium) {
      max-width: rem-calc(627px);   
    } 
  }
  .hero-edge {
    height: rem-calc(14);  
    background: $celery;
    @include mosaic-fill(); 
  }
  .hero-blended {
    background-color: $hero-blend-color;
    color: $white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    .hero-date {
      margin-top: 0.5em;
      margin-bottom: 0.7em;
    }
    > .row {
      @include vertical-center;
      right: 0;
      left: 0;
      position: relative;
    }
  }
  // default center aligned hero
  .hero-blended-content {
    @include breakpoint(large) {
      @include grid-column(10);
      @include grid-column-position(center);
    }
    @include breakpoint(xlarge) {
      @include grid-column(7);
      @include grid-column-position(center);
    }
    p {
      font-size: calc(18px +  10 * (100vw - 320px)/1180);
      @include breakpoint(xxlarge) {
        font-size: rem-calc(28);
      }
    }
    .grid-2col-blog & {    
      text-align: left;
      margin-left: 0;
      @include breakpoint(large) {
        @include grid-column(7 of 12);
      }
    }
  }
   // breaking our the hero details by their purpose, since we have several that are tall, short, blue or left.
   // layering 2 backgrounds -- blue and image to avoid extra markup
 
  &.perspectives-landing-hero {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-5-mobile.jpg');
    height: 219px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-5-desktop.jpg');
      height: 345px;
      text-align: center;
    }
  } 
  &.blog-landing-hero {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-2-mobile.jpg');
    height: 219px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-2-desktop.jpg');
      height: 345px;
      text-align: center;
    }
  }
  &.media-landing-hero {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-6-mobile.jpg');
    height: 219px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-6-desktop.jpg');
      height: 345px;
      text-align: center;
    }
  } 
  &.research-landing-hero { 
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-3-mobile.jpg');
    height: 219px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-3-desktop.jpg');
      height: 345px;
      text-align: center;
    }
  } 
  &.about-landing-hero {  //pending graphic from Jon
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-7-mobile.jpg');
    height: 219px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-7-desktop.jpg');
      height: 345px;
      text-align: center;
    }
  } 
  &.perspectives-detail-hero {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-5-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-5-desktop.jpg');
      height: 468px;
      text-align: center;
    }
  } 
  &.blog-detail-hero {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-desktop.jpg');
      height: 468px;
    }
  }
  &.blog-detail-hero-homeownership {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-desktop.jpg');
      height: 468px;
    }
  }
  &.blog-detail-hero-rental {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-desktop.jpg');
      height: 468px;
    }
  }
  &.blog-detail-hero-notable {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-desktop.jpg');
      height: 468px;
    }
  }
  &.blog-detail-hero-research {
    background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-mobile.jpg');
    height: 389px;
    @include breakpoint(medium) {
      background-image: linear-gradient(rgba($hero-blend-color, $hero-opacity), rgba($hero-blend-color, $hero-opacity)), url('/images/hero/hero-4-desktop.jpg');
      height: 468px;
    }
  }
}