// variations of green backgrounds used for homepage finance blocks
$finance-bg1: darken(saturate(adjust-hue($celery, 0.13754), 8.93659), 5.29412);
$finance-bg2: lighten(saturate(adjust-hue($celery,-3.97993), 4.26419), 0.78431);
$finance-bg3: desaturate(adjust-hue($pear,-0.21154), 1.69492);

.finance-offset {
  position: relative;
  @include breakpoint(xlarge) {
    margin-top: -20rem;	
    min-height: 33.5rem;
  }
}
.finance-buffer {
  padding-left: 0;
  padding-right: 0;
}
.finance-research {
   background: $finance-bg1;  
  color: $white;
	@include breakpoint(xlarge) {
		 background: linear-gradient(to right, transparent 0%,transparent 50%, $finance-bg1 50%, $finance-bg1 100%);	
	}
}
.finance-research-content {
  background: $finance-bg1;
  padding: $gutter $gutter * 1.5;
  @include breakpoint(medium) {
    padding: $gutter * 1.5;
  }
	@include breakpoint(xlarge) {
		padding: $gutter * 2.5 $gutter * 3;
	}  
}


.finance-pmms {
  color: $white;
	@include breakpoint(xlarge) {
		background: linear-gradient(to right, transparent 0%,transparent 50%, $finance-bg3 50%, $finance-bg3 100%);	
	}
}
.finance-pmms-content {   
  background: $finance-bg2;
  padding: $gutter $gutter * 1.5;
  @include breakpoint(medium) {
    padding: $gutter * 1.5;
  }
	@include breakpoint(xlarge) {
		padding: $gutter * 2.5 $gutter * 3;
	}  
}
.finance-pmms-rates {
  @include breakpoint(small only) {  // 
    background: linear-gradient(to right, color-shift($finance-bg2, $finance-bg3, 5, 2) 0%,color-shift($finance-bg2, $finance-bg3, 5, 2) 33.333%, color-shift($finance-bg2, $finance-bg3, 5, 3) 33.333%, color-shift($finance-bg2, $finance-bg3, 5, 3) 66.6667%, color-shift($finance-bg2, $finance-bg3, 5, 4) 66.6667%, color-shift($finance-bg2, $finance-bg3, 5, 4) 100%);	
  }
  .text-center {  
    @include breakpoint(large) {
      @include absolute-center;
      .stat-sm {
        min-width: 6.25em;
      }
    }
  }
  @for $i from 1 through 3 {
    > .column {
      position: relative;   
      padding-top: $gutter * 1.75;
      padding-bottom: $gutter * 1.75;
    }
    > .column:nth-child(#{$i}) {
      background: color-shift($finance-bg2, $finance-bg3, 5, $i+1);
    }
  } 
}