.homepage-headlines {
  font-size: rem-calc(18);  
  border-bottom: 1px solid darken($light-gray, 9.8039);
  a {
    color: inherit;
  }
  @include breakpoint(small only) {
    .icon-chevron-right-circle-blue::before {
      background: none;
    }
  }
}
.homepage-headlines-dominant {
  padding-bottom: $global-padding * 2;
	@include breakpoint(large) {
		padding-right: $global-padding * 3.5;
	}
}
.homepage-headlines-subdominant {
  padding-bottom: $global-padding;
  p + .article-category {
    padding-top: 2.5rem;
  }
}