.homepage-headlines {
  font-size: rem-calc(18);  
  border-bottom: 1px solid darken($light-gray, 9.8039);
  margin-bottom: 0;
  padding-bottom: $global-padding *2.5;
  a {
    color: inherit;
  }
  @include breakpoint(small only) {
    .icon-chevron-right-circle-blue::before {
      background: none;
    }
  }
}
.homepage-headlines-dominant {
	@include breakpoint(large) {
		padding-right: $global-padding * 3.5;
	}
}
.homepage-headlines-subdominant {
  p + .article-category {
    padding-top: 2.5rem;
  }
}
@media print {
  .homepage-headlines .column { width: 100%; }
}