.homepage-testimonials {
  position: relative;
  padding: 2rem 0 0;
  @include breakpoint (xlarge) {
    padding: 6.25rem 0 0;
  }
}
.background-quote::before {
  content: "\201D";
  font-size: 9rem;
  font-size: calc(144px +  144 * (100vw - 320px)/(1270 - 320)); 
  opacity: 0.2;
  display: block;
  float: right;
  width: 0.45em;
  position: relative;
  top: 0.25em;
  padding-left: 0.05em;
  font-family: 'Lucida Sans', 'Lucida Sans Typewriter', 'Lucida Console', monospace;
  line-height: 0.25em;
  @include breakpoint(xlarge) {
    font-size: 18rem;
  }
}
.testimonials-quote {
  position: relative;  
}
.testimonials-quote-container {
  margin-bottom: 1rem;
}
.testimonials-picture {
  position: relative;
  text-align: center;
  padding: 0 $global-padding * 2;
  @include breakpoint(medium) {
    padding: 0;
  }  
}

.testimonials-image-rotate {
  text-align: center;  
  @include breakpoint(large) {
    text-align: right;
  }  
  img {
    transform: rotate(3deg);
    @include breakpoint(medium) {
      transform: rotate(4deg);
      transform-origin: center bottom;
      padding-right: 1rem;
    }  
    @include breakpoint(large) {
      transform: rotate(4.8deg);
      transform-origin: 50% 20%;
      padding-left: $gutter/2;
    } 
  }
}
.testimonial-image-offset {
  @include breakpoint(xlarge) {
    margin-top: -9.5rem;
  }
}
.testimonials-single {
  position: relative;
  padding-bottom: $global-padding;
  @include breakpoint(large down) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
.testimonials-multi { 
  position: relative;
  .testimonials-quote {
    margin-left: $gutter * 1.5;
    margin-right: $gutter * 1.5;
    @include breakpoint(medium) {
      width: 55%;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include breakpoint(large) {
      width: 50%;
    }
  } 
  .testimonail-feature {
    @include breakpoint(medium) {
      @include grid-column(8.5 of 12);
      float: right;
      padding-right: $gutter/2;
    }
    @include breakpoint(large) {
      @include grid-column(9 of 12);
      float: right;
      padding-right: $gutter * 2;
    }
    @include breakpoint(xlarge) {
      @include grid-column(12 of 12);
      float: right;
      padding-right: 0;
    }
  }
  .testimonial-image-offset {
    padding-top: $gutter;
    @include breakpoint(large) {
      padding-top: 0;
    }
  }
}

.title-testimonial {
  position: relative;  
  font-size: rem-calc(32);
  font-size: calc(32px +  20 * (100vw - 320px)/1180); 
  margin-bottom: 0.5em;
  font-weight: $global-weight-black;
  line-height: 1.2;
  @include breakpoint(xxlarge) {
    font-size: rem-calc(52);
    margin-bottom: 2rem;
  }
}
.testimonials-thumbnails {
  text-align: center;
  padding: 1rem $gutter;
  float: left;
  width: 100%;
  @include breakpoint(large) {
    position: absolute;
    right: $gutter * 1.5;
    top: 0;
    width: 12rem;
    padding: 0;
    float: none;
  } 
}
.testimonials-thumbnail {
  @include breakpoint(medium down) {
    @include grid-column(4 of 12);
  }
  @include breakpoint(large) {
    margin: 0 0 $gutter $gutter;
  }
}