[type='text'], 
[type='password'], 
[type='date'], 
[type='datetime'], 
[type='datetime-local'], 
[type='month'], 
[type='week'], 
[type='email'], 
[type='number'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='url'], 
[type='color'], 
textarea {
	&.outline {
		border: 1px solid $white;
	}
}

.input-btn-respond {
	display: table;
	width: 100%;
	>div {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		&:last-child {
			white-space: nowrap;
		}
	}
  [type='email'] {
    margin-bottom: 0;
  }
}

