// difficult to apply class names to fields with our form inserter -- easier to apply it to the form container itself.
$form-palette: (
  green: $fm-green,
  orange: $fm-orange,
  yellow: $fm-yellow,
  red: $fm-red,
  purple: $fm-purple,
  blue: $fm-dark-blue,
  teal: $fm-teal,
  gray: $medium-gray
);

form {
  input[type='email'] {
    position: relative;          
    background-image: icon(email, $fm-gray, 24, 24, 0, 0, 24, 24);
    background-position: 96% 0.25em;
    background-repeat: no-repeat;
  } 
  .outline { input[type='email'] {
    position: relative;          
    background-image: icon(email, $white, 24, 24, 0, 0, 24, 24);
    background-position: 96% 0.25em;
    background-repeat: no-repeat;
    // supporting having the focxused fields display the background text color
    @each $name, $color in $form-palette {    
      &-#{$name} {         
          [type='text'], 
          [type='password'], 
          [type='date'], 
          [type='datetime'], 
          [type='datetime-local'], 
          [type='month'], 
          [type='week'], 
          [type='email'], 
          [type='number'], 
          [type='search'], 
          [type='tel'], 
          [type='time'], 
          [type='url'], 
          [type='color'], 
          textarea {
            border: 1px solid $white;
            &:focus {
              background-color: $white;
              color: $color;        
            }
          }
        }  
      }
    } 
  }   
}
