.mosaic-3 {
  @for $i from 1 through 3 {
    > div:nth-child(4n+#{$i}) {
      background-color: color-shift($celery, desaturate(adjust-hue($pear, 1.5), 6), 3, $i);
    }
  }    
}

.mosaic-4 {
  @for $i from 1 through 4 {
    > div:nth-child(4n+#{$i}) {
      background-color: color-shift($celery, desaturate(adjust-hue($pear, 1.5), 6), 4, $i);
    }
  }    
}

.mosaic-3,
.mosaic-4 {
  color: $white;
  .column,
  .column {
    > div {
      padding: $gutter * 2 $gutter * 2 $gutter * 1.3 $gutter * 2;
    } 
    > .icon-chevron-right-circle {
      padding-left: 6rem;
      @include breakpoint (small only) {
        padding-left: $gutter * 2;
        &::before {
          background: none;
        }
      }
    }
  }
  a {
    @include anchor-on-dark;
  }
}

