    
.search-nav  {
  position: absolute;
  padding: 1rem $gutter/2; 
  border-top: 1px solid darken($light-gray, 9.8039);
  border-bottom: 1px solid $fm-yellow;
  background: $fm-yellow;
  max-height: 6rem;
  margin-top: -6rem;
  width: 100%;
  z-index: 199;
  @media screen and (min-width: 400px) {
    padding: $gutter/2 $gutter $gutter/2 $gutter;
  }
  include breakpoint(xlarge) {
    display: none;
  }
  form {
    width: 100%;
    margin: 0;
  }
  input[type="search"] {
    background: $white;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    height: ($gutter * 2.5);
  }
  button[type="submit"] {
    color: $white;
    font-size: rem-calc(14);
    width: auto;
    height: ($gutter * 2.5);
    margin: 0;
    padding: $gutter/1.25 0 $gutter/1.25 $gutter/2;
  }
  [type="submit"] {
    background: transparent;
  }
  &.has-transition {
    transition: margin-top 0.35s ease; 
  }
  &.is-expanded {
    margin-top: 0rem;
    transition: margin-top 0.4s ease; 
  }
}

