$tertiary-gap: $gutter * 1.5;
$tertiary-border-color: scale-color($light-gray, $lightness: -5%);

.tertiary-nav {
  background: $fm-green;
  color: $fm-gray;
  padding-bottom: 0.5rem;
  margin-bottom: 1.875rem;
  font-size: 1.125rem;  
  @media print {
    display: none;
  } 
  h2 {
    color: $white;
    padding: 0;
    margin: 0;
    font-weight: $global-weight-light; 
  }
  a {
    color: inherit;
    display: block;
    padding: $tertiary-gap;
    @include disable-mouse-outline;
  }
  nav {
    background: $white;
    border-left: 1px solid $tertiary-border-color;
    border-right: 1px solid $tertiary-border-color;
  }
  ul {
    margin: 0;    
    a {
      text-transform: uppercase;
      font-weight: $global-weight-medium;
      &:hover,
      &:focus {
        color: $fm-green;
        background: $offwhite;
      }
      &.active {
        color: $fm-green;
        font-weight: $global-weight-bold;
      }     
    }
    li + li::before {     
        content: ""; 
        display: block;    
        border-top: 1px solid $tertiary-border-color;
    }
    ul {
      a {
        text-transform: none;
        padding: $tertiary-gap/2 $tertiary-gap;
        font-weight: $global-weight-light;
      }
      li + li::before {      
        margin: 0 $tertiary-gap; 
      }
    }
  }
  li.parent {      
    background: $offwhite;
  } 
  li.data-expanded {
    > a {  
      padding-bottom: $tertiary-gap/4;
    }
  }
}
