// changed from <footer> element to .footer class so that footers used inside other elements don't inherit these styles
.footer {
	background: darken($primary-color, 3%);
	color: $white;
	padding: 0.5rem 0 0.75rem;
	@include breakpoint(medium) {
		padding: 2.1875rem 0 1.5625rem;
	}	
	a {
		color: currentColor; 
    display: inline-block; 
    @include underline-transition($white, 1px);    
    &.connect-link {
      margin-right: 0.375rem;
      > svg {
        height: 1.75rem;
        width: 1.75rem;
      }
      &:last-child {
        margin-right: 0;         
      }  
    }
	}
	ul {
		margin: 0;
    @include clearfix;
    }
  li {
    margin: 0.5rem 0rem 0.5rem 0;
    @include breakpoint(medium) {
      display: inline-block;
      margin-right: 2rem;      
      &:last-child {    
        float: right;
        margin-right: 0;
        text-align: right;
      }
    }
  }
	.footer__top {
		border-bottom: 1px solid lighten($primary-color, 3%); 
		ul {
      font-weight: $global-weight-medium;
      text-transform: uppercase;
      @include breakpoint(medium) {
        font-size: rem-calc(18);      
      }
		}
	}
	.footer__bottom {
		font-size: rem-calc(14);
		padding-top: 0.5rem;
	}
}
.footer__bottom-edge {
  height: 1rem;  
  background: $celery;
  @include breakpoint(small) {
    @include mosaic-fill($celery, $pear);
  }  
}
