// faking the look of a 1px bottom border so that the active tab can just overlay without having to adjust all the other measurements.
$ribbon-edge: adjust-hue(saturate(darken($offwhite, 7.3%), 51%), 77deg);
$ribbon-background-desktop: linear-gradient(to bottom, $offwhite 0%, $offwhite 97.25%, $ribbon-edge 97.25%, $ribbon-edge 100%);

#ribbon {display: none;}

@include breakpoint(xlarge) {
  #ribbon {
    display: block;
  }
} 
.ribbon {
  font-size: 0.875rem; 
  border-width: 0;
  z-index: 500;
  position: relative;
  background: $ribbon-background-desktop;  
  .ribbon-nav {
    z-index: 501;
  }  
  .menu > li > a {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .nested {
    position: absolute;
    top: 2.25rem;
    right: 0;
    width: 19rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.37);
    z-index: 200;
    > li > a {
      padding: 1.8rem 2rem 1rem;
    }
    p {
      line-height: 1.3;
    }
  }
  li.active > a {
    box-shadow: none;
    border-left: 1px solid $ribbon-edge;
    border-right: 1px solid $ribbon-edge;
  }      
  .menu:not(.nested) {
    display: table-cell;
    &:not(:last-child) { padding-right: 5px; }
    background: none;
    .active > a {
      color: $fm-green;
      font-weight: $global-weight-medium;
    }
    > li {
      display: table-cell;
      &:not(.active):hover > a,
      &:not(.active) > a:focus  {
        @include nav-submenu-parent-hover; 
        box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.37);        
      }
    }  
  }
  .ribbon-rbo-toggle > a:focus {
    background: $white;
    border-bottom-color: $white;
    z-index: 606;
    position: relative;
    display: inline-block;
  }  
  .input-group { 
    margin-bottom: 0.0625rem;
    background: #fff;
  }  
  .input-group-button {
    width: auto;
  }
  [type="search"] {
    font-size: inherit;
    background: none;
    border-width: 0;
    color: $fm-gray;
    height: 2.1875rem;
    padding: 0.25rem 1rem;
    margin-left: 0.25rem;
    box-shadow: none;
    &:focus {
      box-shadow: none; 
    }
    &::placeholder { 
      color: lighten($medium-gray, 20%);
    }  
  } 
  .button {
    border-width: 0; 
    background: $fm-yellow icon(search, $white, 20, 20) no-repeat center center; 
    height: 2.1875rem;
    width: 2.25rem;
    padding: 0;
    transition: none;
    border-radius: 0;
    &:hover,
    &:focus {
      background-color: scale-color($fm-yellow, $lightness: -10%);
    }
    &:active {
      background-color: scale-color($fm-yellow, $lightness: -15%);
    }    
  }   
}


