#secondary-nav  {
    position: relative;
}
.secondary-nav {
  font-weight: $global-weight-medium;
  position: relative;
  width: 100%;
  &.on {    
    background: $light-gray;
    border-top: 1px solid darken($light-gray, 9.8039);
  }
  .row {
    position: relative;
  }
  .no-bullet {
    margin: 0;
  }
  a {
    color: $medium-gray;
  }
}
// .secondary-nav.data-expanded .no-bullet > li > a
@include breakpoint(large down) {    
  .secondary-nav {    
    &.on {      
      .no-bullet {
        @include accordion-container;  
        width: 100%;
        margin: 0;
        > li {
          border: 1px solid darken($light-gray, 9.8039);
          border-radius: 0.3125rem;      
          position: relative;
          margin: 1.125rem 0;
          > a {
            @include accordion-pointers-title($medium-gray, $light-gray, false);
            font-size: rem-calc(16);
          }
        }
        .menu {
          @include accordion-content;
          background: $white;
          padding: 0;
          > li {
            display: block;
            > a {
              padding: 1rem;
            }
          }
        }  
      }       
    }
    &.data-expanded {
      position: absolute;
      top: 0;
      left: 0;
      z-index:494;
      .no-bullet {
        > li > a {
          @include accordion-pointers-active($medium-gray, $light-gray);  
          background: $white;
          &:hover,
          &:focus,
          &:active {
            background: $white;
          }
        }
        .menu {
          display: block;
          position: relative;
          z-index:495;
        }
      }
    } 
  }
}

@include breakpoint(xlarge) {       
  .secondary-nav { 
    z-index: 480;
    .no-bullet:not(.hide) {
      position: relative;
      z-index: 485;
    }
    &.highlight {  
      background: $fm-green; 
      border-top: 1px solid $fm-green;
      z-index: 490;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      min-height: 3rem;
      .row {
        z-index: 492;
        .current-hover {
          position: relative;
          min-height: 3rem;
          z-index: 493;
        }
      }
      .subnav-bottom {
          position: relative;
          @include mosaic-fill;
          height: 8px;
      }
      .menu {
        float: right;
         > li > a {          
          color: $white;
          &:hover,
          &:active {
            color: $white;
          }
          
        }  
      }
    }
    .menu > li {
      > a {
        @include nav-desktop-link();  
        padding: 1.875rem 1.25rem 1.75rem;
        color: $fm-gray;
      }      
      &:first-of-type > a {
        padding-left: 0;
      }   
      &:last-of-type > a {
        padding-right: 0;
      }
    } 
  }
  .secondary-nav-bottom {
    position: relative;
    @include mosaic-fill;
    height: 8px;
  }
} 

