.orbit {
  color: $white;
}

.orbit-slide {
  min-height: 100%;
  font-size: rem-calc(15); 
  font-size: calc(15px +  4 * (100vw - 320px)/1180);
  @include breakpoint(xxlarge) {
    font-size: rem-calc(19); 
  } 
  a {
    @include anchor-on-dark;
  } 
  > div:not([class])  {
    padding: $gutter * 1.5;  
  }
  > figure {
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    img {
      @include orbit-image;
    }    
  }
  figcaption { 
    @extend .orbit-caption;
    text-align: center;
    font-weight: $global-weight-medium;
    font-size: inherit;
    @include breakpoint(small only) {
      padding: $orbit-caption-padding * .75;
    }
    > * { 
      font-size: inherit;
    }
    blockquote {
      padding: rem-calc(1 15 1 10);
    }
    :last-child { margin-bottom: 0;}
  } 
  @each $name, $color in $orbit-palette {    
    &.orbit-slide-#{$name} {      
      background-color: $color; 
    }
  }
}

.orbit-bullets {
  line-height: 1;
  font-size: 1.125rem;
  button {
    vertical-align: middle;
  }
} 
.orbit-previous, 
.orbit-next {
  background: rgba($black, 0.2);
}    
.bullets-overlay {
  .orbit-slide {
    padding-bottom: $global-padding * 3;
  }
  .orbit-bullets {
    top: $global-padding * -2.5;
    margin: 0;
    color: rgba($white, 0.7);
    button {
      color: $white;
      background-color: $white;
      opacity: 0.7;
      &:hover,
      &:focus {
        opacity: 0.9;
      }
      &.is-active {
        opacity: 1;
      }
    }
    .orbit-previous, 
    .orbit-next {
      background: none;
      display: inline-block;
      position: static;
      padding: 0;
      transform: none;
      svg {
        vertical-align: top;
      }
    }
  }
}