.page-title {
	background: #f9f9f9;
	border-bottom: 1px solid #e5e5e5;
	padding: 55px 0;
	@include breakpoint(medium) {
		border-bottom: none;
		padding: 53px 0 47px;
	}
	h1 {
		color: $fm-green;
		margin: 0;
		@include breakpoint(medium) {
			font-size: rem-calc(42);
		}
	}
}
