// trying to solve for the fact that design want the full gutter to the left and right, not half a gutter, like Foundation defaults to.
.row {
  padding-left: $gutter/2;
  padding-right:  $gutter/2;
  &.column {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
.row .column .row {
  padding-right: 0;
  padding-left: 0;
}
.section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
	@include breakpoint(xlarge) {
    padding-top: rem-cal(55px);
    padding-bottom: rem-calc(45px);
	}
}
.position-relative {
  position: relative;
}
/// Vertically centers the element inside of its first non-static parent
.vertical-center-full {
  @include vertical-center;
  right: 0;
  left: 0;
  position: relative;
}
/// Horizontally centers the element inside of its first non-static parent
.horizontal-center {
  @include horizontal-center;
}
main {
	font-weight: $global-weight-light;
	padding: $gutter * 2.5 $gutter/2;
	figure {
		margin: $global-margin * 2 0;
		img {
			margin: 0 0 1rem;
		}
		figcaption {
			font-size: rem-calc(14);
			@include breakpoint(medium) {
				font-size: rem-calc(12);
			}
		}
	}
}

.two-column-layout {
  @include clearfix;
  @include breakpoint(large) { 
    @include grid-column-row($gutter);
  }
	main {
    @include breakpoint(large) { 
      float: left;
      width: calc(100% - 350px);
      padding-left: 0;
      padding-right: 0;      
    }
    @include breakpoint(xlarge) {
      width: 66.666666%;
    }
    > .column {
      @include breakpoint(medium) {      
        padding-right: 2rem; 
        max-width: 50rem;  
      }
      > .row {    
        margin-left: -0.625rem;
        margin-right: -0.625rem;
        padding-right: 0;
        padding-left: 0;
        max-width: none;  
      } 
      .jut {
        @include breakpoint(xxlarge) { 
          width: 115%;
        }
      }      
    }
	}
	aside {
    clear: both;
    @include breakpoint(large) {
      clear: initial;
      float: right;
      width: calc(350px);
    }
    @include breakpoint(xlarge) {
      width: 33.333333%;
    }
		position: relative;
		z-index: 2;
    @include breakpoint(large) {
      padding-top: $gutter * 2.5;
      padding-bottom: $gutter * 2.5;
    }
    section {
      padding: $gutter $gutter/2;
      @include breakpoint(xlarge) { 
        padding: $gutter * 1.5 $gutter;
      }  
      margin: 0;
      > .row {
        margin: 0;
      }
    }
  }  
  .sidebar-article-offset {
    padding-top: 0;
  }
}

.sidebar-article-offset {
  @media print and #{breakpoint(large)} {
    padding-top: 300px; // counteract the negative top margin when printing
  }
}


