$overlay-palette: (
  green: $fm-green,
  orange: $fm-orange,
  yellow: $fm-yellow,
  red: $fm-red,
  purple: $fm-purple,
  blue: $fm-blue,
  teal: $fm-teal,
  gray: $medium-gray
);


.reveal {  
  color: $white;
  &.tiny,
  &.small,
  &.large {
    @include reveal-modal-width($reveal-width);
  }
  &:not(.overlay-video):not(.overlay-image):not(.overlay-gallery) {
    @include reveal-modal-width($reveal-width);
    padding-top: rem-calc(40);
    padding-top: calc(40px +  56 * (100vw - 320px)/1180); 
    @include breakpoint(xxlarge) {
      padding-top: rem-cal(96);
    }
    > div { 
      position: relative;
    }
    > .row {
      max-width: $global-width;
    }
  }
  a {
    @include anchor-on-dark;
  }  
  .close-button-medium {
    position: absolute;
    top: 0px;
    right: 0px;
    @include breakpoint (medium) {    
      top: -0.9em;
      right: -0.9em;
    }
  }  
// Full-screen mode colors
  @each $name, $color in $overlay-palette {    
    &.overlay-#{$name} {      
      background-color: $color;
    }
  } 
  
  &.overlay-video,
  &.overlay-image,
  &.overlay-gallery  {
    background: transparent;
    @include reveal-modal-width(90%, 1280px);
    text-align: center;  
    overflow: visible;
    @include breakpoint (xlarge) {
      max-width: rem-calc(1280);
    }
  }  
  &.overlay-video {
    padding: 2rem 2rem 0;
    @include breakpoint (small only) {
      padding: 1rem 1rem 0;
    }
    .responsive-embed {
      overflow: visible;
    }
  }
  &.overlay-image,
  &.overlay-gallery  {
    .modal-content {
      max-width: 100%;
      padding: 2rem 2rem 0;
      
      @include breakpoint (small only) {
        padding: 1rem 1rem 0;
      }
    }
    figure {    
      display: inline-block; 
      margin: 0 auto;
      max-width: 100%;
      position: relative;
      img {        
        max-width: 100%;
        max-height:90vh;
        min-height: rem-calc(200);
        width: auto;
      }
    }
    figcaption {
      font-size: inherit;
      text-align: center;      
      font-size: rem-calc(20);
      font-weight: $global-weight-medium;
      @extend .orbit-caption;
      @include breakpoint(small only) {
        font-size: rem-calc(14);
        padding: 0.5em;
      }
      :last-child { margin-bottom: 0;}     
    }
    .gallery-previous {  
      @extend %orbit-control;
      @include orbit-previous;
      z-index: 1009;
    }
    .gallery-next  {
      @extend %orbit-control;
      @include orbit-next;
      z-index: 1010;
      }
    .gallery-previous,
    .gallery-next {  
      background-color: rgba($black, 0.2);
      font-size: 1.2rem;
    } 
  }
}
.modal-content {
  margin: 0 auto;
  width: 90%;
  max-width: 87.5rem * 0.9;
  > .row {
    padding: 0;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
}
.modal-header {
  display: table;
  margin-bottom: rem-calc(36);
  margin-bottom: calc(36px +  30 * (100vw - 320px)/1180); 
  @include breakpoint(xxlarge) {
    margin-bottom: rem-calc(66);
  }
  button { 
    display: table-cell;
    vertical-align: middle;
  }
  h2 { 
    display: table-cell;
    width:99%;
    vertical-align: middle;
    font-size: rem-calc(20);
    font-size: calc(20px +  12 * (100vw - 320px)/1180); 
    font-weight: $global-weight-bold;
    margin: 0.4em 0;  
    @include breakpoint(xxlarge) {
      margin: 0.53125em 0;  
      font-size: rem-calc(32);
    }
  }
}
