$overlay-palette: (
  green: $fm-green,
  orange: $fm-orange,
  yellow: $fm-yellow,
  red: $fm-red,
  purple: $fm-purple,
  blue: $fm-dark-blue,
  teal: $fm-teal,
  gray: $medium-gray
);


.reveal {  
  &:not(.overlay-video):not(.reveal-image) {
    @include reveal-modal-width($reveal-width);
    padding-top: rem-calc(40);
    padding-top: calc(40px +  56 * (100vw - 320px)/1080); 
    @include breakpoint(xxlarge) {
      padding-top: rem-cal(96);
    }
  }
  color: $white;
  a{
    @include anchor-on-dark;
  }  
  &.tiny,
  &.small,
  &.large {
    @include reveal-modal-width($reveal-width);
  }
  &.overlay-video {
    padding: 0;
    max-width: $global-width;
    @include reveal-modal-width(800px);
  }
  
// Full-screen mode colors
  @each $name, $color in $overlay-palette {    
    &.overlay-#{$name} {      
      background-color: $color;
    }
  } 
  > div { 
    position: relative;
  }
  > .row {
    max-width: $global-width;
  }
  .reveal-image {
    top: 0;
    background: transparent;
    border-width: 0;
    max-width: $global-width;
    @include reveal-modal-width(800px);
    .reveal-image-inner {
      overflow: none;
      padding: 2vh 2vw;
      margin: 0 auto; 
      position: relative;     
    }
    figure {
      margin: 0 auto;   
      max-height: 92vh;
      max-width: 92vw;
      overflow: hidden;
      position: relative;   
      img {
        @include orbit-image;      
        display: block; 
        border: $reveal-border; 
      }
      figcaption { 
        @extend .orbit-caption;
        font-size: inherit;
        text-align: center;      
        font-size: rem-calc(18);
        font-weight: $global-weight-medium;
        @include breakpoint(medium) {
          font-size: rem-calc(20);
        }
        :last-child { margin-bottom: 0;}      
        a {
          @include anchor-on-dark;
        }     
      }    
    }
    .gallery-previous {  
      @extend %orbit-control;
      @include orbit-previous;
      z-index: 1009;
    }
    .gallery-next  {
      @extend %orbit-control;
      @include orbit-next;
      z-index: 1010;
      }
    .gallery-previous,
    .gallery-next {  
      font-size: 1.5rem;
      background-color: rgba($black, 0.4);
    } 
  }
}
.modal-content {
  margin: 0 auto;
  width: 90%;
  max-width: 87.5rem * 0.9;
  > .row {
    padding: 0;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
}
.modal-header {
  display: table;
  margin-bottom: rem-calc(36);
  margin-bottom: calc(36px +  30 * (100vw - 320px)/1080); 
  @include breakpoint(xxlarge) {
    margin-bottom: rem-calc(66);
  }
  button { 
    display: table-cell;
    vertical-align: middle;
  }
  h2 { 
    display: table-cell;
    width:99%;
    vertical-align: middle;
    font-size: rem-calc(20);
    font-size: calc(20px +  12 * (100vw - 320px)/1080); 
    font-weight: $global-weight-bold;
    margin: 0.4em 0;  
    @include breakpoint(xxlarge) {
      margin: 0.53125em 0;  
      font-size: rem-calc(32);
    }
  }
}
