$ribbon-transition-desktop: box-shadow 0.25s ease 0s;
$ribbon-transition-mobile: background-color 0.35s ease 0s, background-image  0.35s ease 0s; 
// faking the look of a 1px bottom border so that the active tab can jsut overlay without having to adjust all the other measurements.
$ribbon-edge: adjust-hue(saturate(darken($alabaster, 7.3%), 51%), 77deg);
$ribbon-background-desktop: linear-gradient(to bottom, $alabaster 0%, $alabaster 97.25%, $ribbon-edge 100%);



.no-js {
  @include breakpoint(medium down) {
    .top-bar-right {
      display: none;
    }
    
  }

  @include breakpoint(large) {
    .top-bar-title {
      display: none;
    }
  }
}

.top-bar {
  a {
    color: $fm-gray;
  }
  .submenu {
    font-weight: 300;  
  }
  h4 {
    font-size: 1.125rem;
    font-weight: 400;
  } 
  .mobile-logo { 
    margin: 1rem;
  } 
  [type="search"]:focus {
    box-shadow: none; 
  }
  .button {
    border-width: 0; 
    background: $buttercup url("/images/icon-search.png")  no-repeat center center / 50% 50%; 
  }
  .top-bar-title {
    display: none;
    width: 100%;
    min-height: 5rem;
    float: none;    
    div {
      padding-top: 1.75rem;
    }
    .menu-icon {
      font-weight: 300;
      margin-right: 1.125rem;
      height: 1.5rem;
      width: 1.375rem;
      font-size: 2.5rem;
      &::after {
        height: 0.2rem;
        box-shadow: 0 0.625rem 0 $cerulean, 0 1.25rem 0 $cerulean;
      }    
    }
    span {
      display: none;
      color: $white;
      font-size: 1.375rem;
      padding: 1.4375rem 1rem; 
    }
  } 
}
@media screen and (max-width: 66em) {
  .top-bar .page-buffer {
    padding: 0;
  }
}

@include breakpoint(medium down) {
  .top-bar {  
    background: $white;
    h4 { 
      margin: 0;
    }
    .top-bar-title {
      display: block;
    }  
  }  
  .is-accordion-submenu-parent > a::after  {
    border-color: $white transparent transparent;
    border-width: 8px 8px 0;
    right: 1.125rem;
  }
  .expanded {
    font-size: 1rem;
    .top-bar-title {
      background: $cerulean;
      color: $white;
      transition: $ribbon-transition-mobile;
      .menu-icon::after {
        content: "\00d7";
        box-shadow: none;
        background: none;
        color: $white;
        top: -1rem;      
      }
      span {
        display: inline-block;
      }
      .mobile-logo {
        display: none;
      }
    }
    #ribbon-nav {
      position: absolute;
      top: 5rem;
      left: 0;
      width: 100%;
      z-index: 500;
    }
    .menu > li {
      display: block;
      background: $medium-gray;
    }  
    .menu > li > a { 
      display: block;
      color: $white;
      padding: 2rem 1rem;
      text-transform: uppercase;
    }   
    .menu ul > li {    
      border-bottom: 1px solid $fm-gray;  
      background: $light-gray;
    }  
    .menu ul > li > a {            
      color: $fm-gray;
      padding: 1.375rem 1rem;
      text-transform: initial;
    }     
    .input-group {
      height: 5rem;
      margin-bottom: 0;
      padding: 1.25rem 1.125rem 1.35rem 1rem;
      background: $buttercup;
    }
    .button {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0;
      transition: none;
      background-size: 60% 60%;
      background-position: center right;
    }
    input[type="search"] {
      max-width: 100%;
      background: $buttercup;
      box-shadow: none;
      border: 0;
      color: $white;
      height: 3rem;  
      font-size: 1.125rem;
      &::placeholder { 
        color: rgba(255,255,255,.9);
      }
    }      
    .menu {
      background: scale-color($topbar-background, $lightness: -8%);
    }
  }
}

@include breakpoint(large) {
  .top-bar {  
    font-size: .875rem; 
    border-width: 0;
    background: $ribbon-background-desktop;
    a { 
      min-height: 2.25rem; 
    } 
    li.active > a {
      box-shadow: none;
      border-left: 1px solid $ribbon-edge;
      border-right: 1px solid $ribbon-edge;
    }
    li:not(.active):hover > a, 
    a:focus {
      color: $blaze;
      background: $white;
      box-shadow: 0px -4px 3px 0px rgba(70,70,69,0.27);
      transition: $ribbon-transition-desktop;
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-left: 2rem;
    padding-right: 2rem;    
    min-height: 2.25rem; 
    &::after {
        right: 0;
        left: .875rem;    
      }
    }
    .input-group { 
      margin-bottom: 0.0625rem;
    }      
    [type="search"] {
      font-size: inherit;
      border-width: 0;
      color: $fm-gray;
      height: 2.1875rem;
      padding: 0.25rem 1rem;
      box-shadow: none;
      &::placeholder { 
        color: lighten($medium-gray, 20%);
      }  
    } 
    .menu {
      background: $ribbon-background-desktop;
       .active > a {
        color: $fm-green;
        font-weight: 500;
      }
    }     
    .button {
      height: 2.1875rem;
      width: 2.1875rem;
      padding: 0.25rem 1.25rem;
      transition: none;
      &:hover,
      :focus {
        background-color: scale-color($buttercup, $lightness: -10%);
      }
      &:active {
        background-color: scale-color($buttercup, $lightness: -15%);
      }    
    }
    .submenu {
      z-index: 499;
      background: $white;
      box-shadow: 0px 5px 5px 0px rgba(70,70,69,0.27);
      transition: $ribbon-transition-desktop;  
      &.is-dropdown-submenu {
        margin-top: -2px;
      }
      & > li > a { 
        padding: 2rem 2rem 1rem;
        color: $medium-gray;
      }
      & > li:hover > a, 
      a:focus { 
        background: $buttercup;
        color: $white;
        box-shadow: none;
      }  
    }
  }
  .menu > .future-drop-down > a  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
} 


