// content classes to add paddings, margins, gutters etc as needed.
.gutter-top {
  padding-top: $gutter;
}
.gutter-bottom {
  padding-bottom: $gutter;
}
.gutter-left {
  padding-left: $gutter;
}
.gutter-right {
  padding-right: $gutter;
}


.content-band-inner {
  margin-top: $gutter;
	@include breakpoint(large) {
    margin-top: 2rem; 
	}
}


.center-horizontally {
  @include horizontal-center;
}
.center-vertically {
  @include vertical-center;
}  
.center-absolute {
  @include absolute-center;
}
