.sidebar {
  position: relative;  
}
.sidebar-txt {
	@include breakpoint(medium) {
    max-width: 300px;
  }  
}
.sidebar:not(.sidebar-concrete) {
	color: $white;
  a {
    @include anchor-on-dark;
  }
}
.sidebar-list {
  .media-object-section {
    img {
      width: rem-calc(95);
      @include breakpoint(medium) { 
        width: rem-calc(130);
      }
    }
  }
  li { 
    .media-object-section {
      padding-top: 1.375rem;
      padding-bottom: 1.375rem;
    }   
    &:first-child { 
      .media-object-section {
        padding-top: 0;
      }
    }   
    &:last-child { 
      .media-object-section {
        padding-bottom: 0;
      }
    }
  }
  a:not(.button) {
    text-decoration: none !important;
    color: inherit;
  }
}
.sidebar-gray {
  background-color: $fm-gray;
  @include list-divided(lighten($fm-gray, 10%));
}
.sidebar-yellow {
	background-color: $fm-yellow;
  @include list-divided(lighten($fm-yellow, 10%));
}
.sidebar-concrete {
  background-color: $light-gray;
  @include list-divided(darken($light-gray, 5%));
}
.sidebar-blue {
  background-color: $fm-blue; 
  @include list-divided(lighten($fm-blue, 10%));   
  .button.hollow {
    color: $white;
    &:hover, 
    &:active,
    &:focus {
      color: $fm-blue;
      border-color: $fm-blue;
      background: $white;
    }
  }
}  

.sidebar-feature {    
  min-height: 24rem;
  z-index: -1;
  .feature-background {   // background will be different for each one, so moving to inline
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    z-index: -1;
  }
}
