.sidebar {
  position: relative;  
  ul, 
  ol {
    margin-bottom: 0;
  }
  > .row > .column > *:first-child {
    margin-top: 0;
  }
}
.sidebar-txt {
  max-width: 83%;
	@include breakpoint(large only) {
    max-width: rem-calc(277);
  }  
  :first-child {
    margin-top: 0;
  }
}

.sidebar-feature {    
  @include breakpoint(large) {
    min-height: 24rem;
  }
  z-index: -1;
  .feature-background {   // background will be different for each one, so moving to inline
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    z-index: -1;
  }
}

.twitter-feed {
  overflow-y: scroll;
  height: 44rem;
  background: $white;
  border: 1px solid darken($light-gray, 5%);
}
