// replacing .feature-txt with .lead, since it's a built in style for Foundation, replaced .lead_bolder with just <b> or <strong> inside .lead.
.lead {
	font-weight: $global-weight-medium;
	strong, b {
		font-weight: $global-weight-bold;
	}
}

.callout-txt {
	color: $fm-blue;
	font-size: rem-calc(30);
	line-height: 1.2;
	margin: 2rem 0;
	@include breakpoint(medium) {
		font-size: rem-calc(48);
	}
}

blockquote {
  font-size: rem-calc(18);
  font-weight: $global-weight-medium;
  @include breakpoint(medium) {
    font-size: rem-calc(20);
  }
  footer { 
    font-weight: $global-weight-normal;
    font-style: italic;
    font-size: 1rem;
    padding: 0;
    &:before {
    content: "\2014 \2009";
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}
cite { 
  display: inline;
  &::before {
    content: none;
  }
}