<section class="page-cta page-cta_sidebar">
  <div class="row page-buffer">
    <div class="page-cta__txt">
      <h3>Get The Weekly Roundup</h3>
      <p>Sign up for the <strong>Weekly Roundup</strong> and get Freddie Mac blog articles delivered to your inbox.</p>
    </div>
    <div class="page-cta__btn">
      <div class="input-btn-respond">
        <p><input type="email" class="outline" placeholder="Your Email Address"></p>
        <p><a class="secondary button expanded" href="#">Sign Up</a></p>
      </div>
    </div>
  </div>
</section>
