<section class="posts-wrapper">
  <div class="row page-buffer">
    <h2>Recent Posts</h2>
    <ul class="posts">
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-1.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">May 9, 2016</div>
              <h3><a href="#">Homework and a Home Purchase</a></h3>
              <div class="blog-block__cat">Homeownership</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-2.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">May 2, 2016</div>
              <h3><a href="#">Law Enforcement Cracking Down on Home Rental Scams</a></h3>
              <div class="blog-block__cat">Rental Housing</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-3.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">April 23, 2016</div>
              <h3><a href="#">A Slow Start to the Best Year in Home Sales in a Decade</a></h3>
              <div class="blog-block__cat">Research &amp; Analysis</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-4.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">April 19, 2016</div>
              <h3><a href="#">What's in Your Trash Can?</a></h3>
              <div class="blog-block__cat">Notable</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-5.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">April 7, 2016</div>
              <h3><a href="#">Guiding the Path to Home Ownership</a></h3>
              <div class="blog-block__cat">Homeownership</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="blog-block blog-block_sidebar">
          <div class="row">
            <div class="small-6 large-4 columns">
              <a class="overlay" href="#">
                <img src="/images/blog/post-6.jpg" alt="Post Img" />
              </a>
            </div>
            <div class="small-6 large-8 columns">
              <div class="blog-block__date">April 3, 2016</div>
              <h3><a href="#">In Search of Roommates as Good as Those on TV</a></h3>
              <div class="blog-block__cat">Rental Housing</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
