<div class="row medium-up-2 large-up-4" data-equalizer data-equalize-on="medium">
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-2.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 13, 2016</div>
        <h3 class="headline-article"><a href="#">Down Payments: There's Help for That</a></h3>
        <div class="article-category">Homeownership</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-3.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 27, 2016</div>
        <h3 class="headline-article"><a href="#">Dear Seller, Pick Me</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-1.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 30, 2016</div>
        <h3 class="headline-article"><a href="#">Try, Try Again: Responding to a Counteroffer</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">June 2, 2016</div>
        <h3 class="headline-article"><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
        <div class="article-category">Research &amp; Analysis</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-3.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 27, 2016</div>
        <h3 class="headline-article"><a href="#">Dear Seller, Pick Me</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div> 
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">June 2, 2016</div>
        <h3 class="headline-article"><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
        <div class="article-category">Research &amp; Analysis</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-2.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 13, 2016</div>
        <h3 class="headline-article"><a href="#">Down Payments: There's Help for That</a></h3>
        <div class="article-category">Homeownership</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-1.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 30, 2016</div>
        <h3 class="headline-article"><a href="#">Try, Try Again: Responding to a Counteroffer</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>	
  <div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-1.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 30, 2016</div>
        <h3 class="headline-article"><a href="#">Try, Try Again: Responding to a Counteroffer</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">June 2, 2016</div>
        <h3 class="headline-article"><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
        <div class="article-category">Research &amp; Analysis</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-3.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">May 27, 2016</div>
        <h3 class="headline-article"><a href="#">Dear Seller, Pick Me</a></h3>
        <div class="article-category">Notable</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div> 
	<div class="column">
		<div class="article-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
      <div class="clippings-block-blog">
        <div class="article-date">June 2, 2016</div>
        <h3 class="headline-article"><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
        <div class="article-category">Research &amp; Analysis</div>
        <p class="article-blurb-blog">Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
      </div>
		</div>
	</div>
</div>
