<section class="sidebar-cta">
  <div class="row page-buffer">
    <div class="sidebar-cta__txt">
      <h3>Get The Weekly Roundup</h3>
      <p>Sign up for the <strong>Weekly Roundup</strong> and get Freddie Mac blog articles delivered to your inbox.</p>
    </div>
    <div class="sidebar-cta__btn">
      <form class="form outline outline-primary">
        <p><input type="email" placeholder="Your Email Address"></p>
        <p><a class="primary button expanded" href="#">Sign Up</a></p>
      </form>
    </div>
  </div>
</section>
