<div class="row medium-up-3 large-up-4" data-equalizer data-equalize-on="medium">
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-2.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 13, 2016</div>
		  <h3><a href="#">Down Payments: There's Help for That</a></h3>
		  <div class="blog-block__cat">Homeownership</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-3.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 27, 2016</div>
		  <h3><a href="#">Dear Seller, Pick Me</a></h3>
		  <div class="blog-block__cat">Notable</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-1.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 30, 2016</div>
		  <h3><a href="#">Try, Try Again: Responding to a Counteroffer</a></h3>
		  <div class="blog-block__cat">Notable</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">June 2, 2016</div>
		  <h3><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
		  <div class="blog-block__cat">Research &amp; Analysis</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
</div>
<div class="row medium-up-3 large-up-4" data-equalizer data-equalize-on="medium">   
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-3.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 27, 2016</div>
		  <h3><a href="#">Dear Seller, Pick Me</a></h3>
		  <div class="blog-block__cat">Notable</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div> 
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-4.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">June 2, 2016</div>
		  <h3><a href="#">Outlook 2016: More Apartments, Low Vacancy Rates, Higher Rent</a></h3>
		  <div class="blog-block__cat">Research &amp; Analysis</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-2.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 13, 2016</div>
		  <h3><a href="#">Down Payments: There's Help for That</a></h3>
		  <div class="blog-block__cat">Homeownership</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
	<div class="column">
		<div class="blog-block" data-equalizer-watch>
		  <a class="overlay" href="#">
		    <img src="/images/blog/blog-1.jpg" alt="Blog Img" />
		  </a>
		  <div class="blog-block__date">May 30, 2016</div>
		  <h3><a href="#">Try, Try Again: Responding to a Counteroffer</a></h3>
		  <div class="blog-block__cat">Notable</div>
		  <p>Sed quis mauris at leo blandit cursus. Sed tempor gravida augue. Ut dictum enim velit, in elementum mauris vehicula sed. </p>
		</div>
	</div>
</div>
