<div class="clippings-block">
  <div class="article-date">November 23, 2016 | <span  class="article-category">Notable</span></div>
  <h3 class="article-headline"><a href="#">A Day for Sharing and Giving Thanks</a></h3>
  <p>Family and friends. Marshmallows on sweet potatoes. Green bean casserole. Pie. A food-induced nap, followed by more pie. Football all day. Thanksgiving is a time to step back from our day-to-day and appreciate what and who we have in our lives. </p>
</div>
<div class="clippings-block">
  <div class="article-date">November 21, 2016 | <span  class="article-category">Rental Housing</span></div>
  <h3 class="article-headline"><a href="#">The Rental Experience is Satisfying and More Affordable Than Owning</a></h3>
  <p>Freddie Mac's September survey of the nation's renters saw an increase in the percentage who said they are satisfied with the rental experience and a steady majority who expect to rent their next residence. </p>
</div>
<div class="clippings-block">
  <div class="article-date">November 18, 2016 | <span  class="article-category">Notable</span></div>
  <h3 class="article-headline"><a href="#">This Week's Housing Headlines</a></h3>
  <p>Tenants are concerned about rising rents, but that's not the only expense they're keeping their eye on. Find that story and other highlights from the week in our headlines roundup. </p>
</div>
<div class="clippings-block">
  <div class="article-date">November 17, 2016 | <span  class="article-category">Homeownership</span></div>
  <h3 class="article-headline"><a href="#">4 Minutes to a Safer You</a></h3>
  <p>International Fraud Week is a good time to learn what scams are out there and how to protect yourself. Take 4 minutes to watch these 4 videos to become a safer renter and homebuyer today. </p>
</div>
<div class="clippings-block">
  <div class="article-date">November 16, 2016 | <span  class="article-category">Homeownership</span></div>
  <h3 class="article-headline"><a href="#">Considering A Manufactured Home?</a></h3>
  <p>Forget what you think you know about manufactured homes. With prices averaging $71,300, they might just be the affordable housing option you're looking for. </p>
</div>

