<div class="row small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalA" data-open="imageModalA" href="/images/media/freddiemac_campus_HQ1_1.jpg"><img alt="photo of Freddie Mac building" src="/images/media/freddiemac_campus_HQ1_1-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Freddie Mac Headquarters</p>
        <p class="card-subtitle">Learn more about Freddie Mac and its role in the housing market</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalA" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/media/freddiemac_campus_HQ1_1-lg.jpg" alt="photo of Freddie Mac building">
          <figcaption><a href="/images/media/freddiemac_campus_HQ1_1.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalB" data-open="imageModalB" href="/images/media/freddiemac_campus_HQ1_2.jpg"><img alt="photo of Freddie Mac building" src="/images/media/freddiemac_campus_HQ1_2-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Freddie Mac Headquarters</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalB" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/media/freddiemac_campus_HQ1_2-lg.jpg" alt="photo of Freddie Mac building">
          <figcaption><a href="/images/media/freddiemac_campus_HQ1_2.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalC" data-open="imageModalC" href="/images/media/freddiemac_campus_HQ1_3.jpg"><img alt="photo of Freddie Mac building" src="/images/media/freddiemac_campus_HQ1_3-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Vital Funding for Restoration of Affordable Apartments</p>
        <p class="card-subtitle">Topics discussed included Freddie Mac's latest initiatives, the multifamily market... outlook, and ways to address the growing need for affordable rental housing</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalC" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/media/freddiemac_campus_HQ1_3-lg.jpg" alt="photo of Freddie Mac building">
          <figcaption><a href="/images/media/freddiemac_campus_HQ1_3.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
  
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalD" data-open="imageModalD" href="/images/media/freddiemac_community_04.jpg"><img alt="photo of Freddie Mac community workers" src="/images/media/freddiemac_community_04-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Habitat for Humanity</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalD" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/media/freddiemac_community_04-lg.jpg" alt="photo of Freddie Mac community workers">
          <figcaption><a href="/images/media/freddiemac_community_04.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalE" data-open="imageModalE" href="/images/media/freddiemac_community_07.jpg"><img alt="photo of Freddie Mac community workers" src="/images/media/freddiemac_community_07-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Freddie Mac<br>Multi-Indicator Market</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalE" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/media/freddiemac_community_07-lg.jpg" alt="photo of Freddie Mac  community workers">
          <figcaption><a href="/images/media/freddiemac_community_07.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="card"  data-equalizer-watch>
      <a class="modal-launch block" aria-controls="imageModalF" data-open="imageModalF" href="/images/Donald_Layton.jpg"><img alt="photo of Freddie Mac building" src="/images/Donald_Layton-thumb.jpg"></a>
      <div class="card-section">
        <p class="card-title">Donald Layton</p>
        <p class="card-subtitle">Chief Executive Officer</p>
      </div>
    </div>
    
    <div class="reveal overlay-image" id="imageModalF" data-reveal>
      <div class="modal-content">
        <figure>
          <img src="/images/Donald_Layton-lg.jpg" alt="photo of Freddie Mac building">
          <figcaption><a href="/images/Donald_Layton.jpg">Download High Resolution Image</a></figcaption>
        </figure>
      </div>
    </div>
    
  </div>
</div>

