<section class="sidebar-cta feature">
  <div class="feature-background" style="background-image: url('/images/feature-bg.jpg')"></div>
  <div class="row page-buffer">
      <div class="sidebar-cta__txt">
        <div class="page-cta__cat">Featured Insight</div>
        <h3>Life's a Beach</h3>
        <p class="lead">So you've always dreamed of living at the beach, but you're discouraged by the high price of beachfront property? Not to worry. We've found just the place for you.  </p>
      </div>
        <p><a class="hollow button expand" href="#">Read More</a></p>
  </div>
</section>
