<section class="page-cta page-cta_sidebar page-cta_feature" style="background-image: url('/images/feature-bg.jpg')">
  <div class="row page-buffer">
    <div class="page-cta__overlay"></div>
      <div class="page-cta__txt">
        <div class="page-cta__cat">Featured Insight</div>
        <h3>Life's a Beach</h3>
        <p class="lead">So you've always dreamed of living at the beach, but you're discouraged by the high price of beachfront property? Not to worry. We've found just the place for you.  </p>
      </div>
      <div class="page-cta__btn"><a class="hollow button expand" href="#">Read More</a></div>
  </div>
</section>
