<div class="row">
	<div class="row small-up-1 medium-up-2 large-up-4 person-block">
    <div class="column">
      <figure itemscope itemtype="http:/schema.org/Person">
      <img itemprop="image" alt="photo of Donald Layton" src="/images/exec_donald_layton.jpg">
      <figcaption>
        <span itemprop="name">Donald H. Layton</span>
        <span itemprop="jobTitle">Chief Executive Officer</span>
      </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure itemscope itemtype="http:/schema.org/Person">
      <img itemprop="image" alt="photo of David Brickman" src="/images/exec_david_brickman.jpg">
      <figcaption>
        <span itemprop="name">David M. Brickman</span>
        <span itemprop="jobTitle">Executive Vice President, Multifamily Business</span>
      </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure itemscope itemtype="http:/schema.org/Person">
      <img itemprop="image" alt="photo of James Mackey" src="/images/exec_james_mackey.jpg">
      <figcaption>
        <span itemprop="name">James G. Mackey</span>
        <span itemprop="jobTitle">Executive Vice President and Chief Financial Officer</span>
      </figcaption>
      </figure>
    </div>
    <div class="column">
      <figure itemscope itemtype="http:/schema.org/Person">
      <img itemprop="image" alt="photo of Dwight Robinson" src="/images/exec_dwight_robinson.jpg">
      <figcaption>
        <span itemprop="name">Dwight Robinson</span>
        <span itemprop="jobTitle">Senior Vice President of Human Resources, Diversity &amp; Inclusion and Chief Diversity Officer</span>
      </figcaption>
      </figure>
    </div>
  </div>
</div>
