<div class="background-yellow footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
    <div class="column large-8" data-equalizer-watch>
       <h3 class="callout-footer-title">My Home by Freddie Mac®</h3>
      <p>We offer the resources to help you make informed housing decisions and support your success – whether you rent, own, or plan to buy a home.</p>
    </div>
    <div class="column large-offset-1 large-3 position-relative" data-equalizer-watch>
      <div class="footer-promo-cta">
       <a class="hollow large button" href="http://myhome.freddiemac.com/">Find it</a>
      </div>
    </div>
  </div>
</div>
