<div class="background-yellow footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
    <div class="column large-8" data-equalizer-watch>
      <h3 class="callout-footer-title">Did You Know?</h3>
      <p>Our company’s leaders regularly offer <strong>valuable perspectives on the housing industry</strong>.</p>
    </div>
    <div class="column large-offset-1 large-3 position-relative" data-equalizer-watch>
      <div class="footer-promo-cta">
       <a class="hollow large button" href="#">Gain insight</a>
      </div>
    </div>
  </div>
</div>
