<footer class="footer">
	<div class="row page-buffer">
		<div class="footer__top">
			<ul>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Investor Relations</a></li>
				<li><a href="#">Vendors &amp; Suppliers</a></li>
			</ul>
		</div>
		<div class="footer__bottom">
			<div class="row">
				<div class="medium-6 columns">
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Sitemap</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="medium-6 columns">
					<p>Copyright &copy; 2016 <strong>Freddie Mac</strong>.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer__bottom-edge"> </div>
