    <div class="row collapse large-up-3 mosaic-3 content-band-inner" data-equalizer data-equalize-by-row="true">
      <div class="column" data-equalizer-watch>
        <div class="icon-chevron-right-circle">
          <h2 class="uppercase">My Home by Freddie Mac<sup>®</sup></h2>
          <p class="flex-up">Find resources to help you make informed housing decisions and support your success – whether you rent, own or plan to buy a home.</p>
          <p class="flex-up"><strong><a href="http://myhome.freddiemac.com/">Get Started</a></strong></p>
        </div>
      </div>
      <div class="column">
        <div class="icon-chevron-right-circle" data-equalizer-watch>
          <h2 class="uppercase">Connect With Us</h2>
          <p class="flex-up">Sign up to receive the latest news, tips and insights from Freddie Mac.</p>
          <p class="flex-up"><strong><a href="#">Connect</a></strong></p>
        </div>
      </div>
      <div class="column">
        <div class="icon-chevron-right-circle" data-equalizer-watch>
          <h2 class="uppercase">Frequently Asked Questions</h2>
          <p class="flex-up">Get answers to common questions about Freddie Mac.</p>
          <p class="flex-up"><strong><a href="#">Learn More</a></strong></p>
        </div>
      </div>
    </div>