    <div class="row collapse large-up-3 mosaic-3 content-band" data-equalizer data-equalize-by-row="true">
      <div class="column" data-equalizer-watch>
        <div class="icon-chevron-right-circle">
          <h2 class="uppercase">My Home</h2>
          <p class="enlarge weight-medium">FreddieMac Home is the place to learn everything new today.</p>
          <p class="enlarge weight-medium"><strong><a href="#">Go to My Home Now!</a></strong></p>
        </div>
      </div>
      <div class="column">
        <div class="icon-chevron-right-circle" data-equalizer-watch>
          <h2 class="uppercase">E-mail Alerts</h2>
          <p class="enlarge weight-medium">Needs blurb<br>Needs blurb</p>
          <p class="enlarge weight-medium"><strong><a href="#">Call to Action</a></strong></p>
        </div>
      </div>
      <div class="column">
        <div class="icon-chevron-right-circle" data-equalizer-watch>
          <h2 class="uppercase">RSS Feeds</h2>
          <p class="enlarge weight-medium">FreddieMac RSS feeds give you complete content delivery control.</p>
          <p class="enlarge weight-medium"><strong><a href="#">Get FreddieMac RSS Feeds</a></strong></p>
        </div>
      </div>
    </div>