<div class="gradient-info">
  <div class="row"> 
    <div class="row collapse gradient-info__wrapper" data-equalizer data-equalize-on="medium">
      <div class="large-10 large-offset-2 column" data-equalizer-watch>            
        <div class="large-3 column" data-equalizer-watch>
          <div class="gradient-info__feature">
            <h3>We're Tracking The Market</h3>
            <p>Freddie Mac surveys lenders each week on the rates, fees and points for the most popular mortgage products. Average Mortgage Rates as of April 28, 2016</p>
            <a href="#" class="primary button">Get Weekly Surveys</a>
          </div>
        </div>
        <div class="large-3 column" data-equalizer-watch>
          <div class="gradient-info__stat">
            <h3>30-Yr FRM</h3>
            <p>3.66%</p>
            <span>0.6 Fees/Points</span>
          </div>
        </div>
        <div class="large-3 column" data-equalizer-watch>
          <div class="gradient-info__stat">
            <h3>30-Yr FRM</h3>
            <p>3.66%</p>
            <span>0.6 Fees/Points</span>
          </div>
        </div>
        <div class="large-3 column" data-equalizer-watch>
          <div class="gradient-info__stat">
            <h3>30-Yr FRM</h3>
            <p>3.66%</p>
            <span>0.6 Fees/Points</span>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
