<style>
.homepage-business-highlight{
  margin:0;
  padding:3rem 0 2rem;
  background-image:linear-gradient(to left top,transparent 46%,rgba(0,0,0,.07) 0,rgba(0,0,0,.07) 54%,transparent 0);
  background-size:10px 10px 
}
.business-highlight-contents{
  padding:20px
}
@media print,screen and (min-width:35.625em){
 .las-col1{padding-right:40px}
 .las-col2{padding-left:40px;border-left:1px solid hsla(0,0%,100%,.5)}
 .business-highlight-contents img{padding-bottom:20px}
}
@media screen and (min-width:46.25em){
 .business-highlight-contents{padding:40px}
}
@media print,screen and (min-width:61.25em){
 .homepage-business-highlight{padding:6rem 0 5rem}
 .business-highlight-contents .flex-bottom{margin-bottom:20px}
}
@media screen and (min-width:79.375em){
 .homepage-business-highlight{padding-bottom:25rem;min-height:43.75rem}
 .business-highlight-contents .flex-bottom{margin-bottom:40px}
}
</style>

<div class="background-primary homepage-business-highlight">
  <div class="row">
    <div class="column large-9 xlarge-7 large-centered">
        <div class="background-primary rounded">
          <div class="business-highlight-contents">
            <div class="row">
              <div class="column medium-7 las-col1">          
                <p aria-hidden="true"><img class="no-border" src="/images/homepage/lpa_keys_sm.png" alt="relief"></p>            
                <h3 class="weight-light gutter-top">Minimizing repurchase risk should be automatic.</h3>
                <p class="flex-up weight-medium">With Loan Product Advisor<sup>®</sup>, it is.</p>
              </div>            
              <div class="column medium-5 las-col2">
                <p class="weight-medium">Have you checked out Loan Product Advisor lately? </p>
                <p class="flex-bottom">Navigation is simpler. Data visualization is more intuitive. And now benefits like collateral rep and warranty relief can be automatic.</p>            
                <p class="text-center"><a href="/loanadvisorsuite/loanproductadvisor/" class="hollow button">Loan Product Advisor</a></p>
                <div class="text-center">Smart. Simple. Trusted.<sup>®</sup></div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
