<div class="homepage-headlines content-band">
  <div class="row">
    <div class="large-5 xlarge-5 medium-offset-1 medium-11 column">
      <div class="homepage-headlines-dominant">
        <div class="article-category">Perspectives</div>
        <h2 class="homepage-headline icon-chevron-right-circle-blue"><a href="/corporate/perspectives-detail.html">Saving Your Resources and  the Earth's</a></h2>    
        <p>Improving home energy and water efficiency is a meaningful way to help tackle two of today's most pressing concerns: housing affordability and society's impacts on the environment. But financing these improvements can be a challenge. Freddie Mac helps make it easier. And we're working to do even more.</p>  
        <figure class="avatar">
          <div>
            <img src="/images/thumbnail-chris-boyle.jpg" alt="Chris Boyle" />
          </div>
          <div>
            <figcaption class="reduce"><strong>Chris Boyle</strong><div class="reduce">SVP Single-Family Sales & Relationship Management</div></figcaption>
          </div>
        </figure>   
      </div>
    </div>
    <div class="large-5 xlarge-4 medium-offset-1 medium-11 end column">
       <div class="homepage-headlines-subdominant">
        <div class="homepage-pressrelease">
          <div class="article-category">News</div>
          <div class="recent-headline-home"><div class="placeholder"><img class="no-border" src="/images/icon-loading.gif"></div></div>  
          

          <div class="article-category">Blog</div>     
            <h2 class="homepage-headline icon-chevron-right-circle-blue"><a href="/corporate/blog-detail.html">Myth vs. Fact: Qualifying for  a Mortgage</a></h2>
            <p>Confused about what it takes to get a mortgage in today's market? Here are the facts to dispel the two biggest myths about qualifying for one.</p>  
        </div>
      </div>        
    </div>
  </div>
</div>