<div class="column xlarge-offset-2 xlarge-10">
  <div class="row">
    <div class="column large-4 xlarge-5 medium-12 finance-pmms-content"  data-equalizer-watch>          
      <h2 class="finance-category">We're Tracking The Market</h3>
      <p class="initial-color">Freddie Mac surveys lenders each week on the rates, fees and points for the most popular mortgage products. 
      Average Mortgage Rates as of <span class="weight-normal">April 28, 2016</span></p>
      <a href="/pmms/" class="hollow button">Get Weekly Rates</a>
    </div>
    <div class="column xlarge-7 large-8 medium-12">   
      <div class="row finance-pmms-rates">
        <div class="small-4 column" data-equalizer-watch>
          <div class="text-center">
            <div class="stat-sm"><span class="weight-light">30-Yr FRM</span><br>3.66%</div>
            <p class="stat-points">0.6 Fees/Points</p>
          </div>
        </div>
        <div class="small-4 column" data-equalizer-watch>
          <div class="text-center">
            <div class="stat-sm"><span class="weight-light">15-Yr FRM</span><br>2.89%</div>
            <p class="stat-points">0.6 Fees/Points</p>
          </div>
        </div>
        <div class="small-4 column" data-equalizer-watch>
          <div class="text-center">
            <div class="stat-sm"><span class="weight-light">5/1-Yr ARM</span><br>2.86%</div>
            <p class="stat-points">0.6 Fees/Points</p>
          </div>
        </div>
      </div> 
    </div>  
  </div>  
</div>