<div class="homepage-testimonials">
  <div class="row">
    <div class="xlarge-offset-1 xlarge-11 end columns">      
      <div class="testimonials-single row">
        <div class="testimonials-quote columns medium-7 large-6">
          <div class="article-category">What Home Means to Me</div>
          <div class="testimonials-quote-container">
            <p class="title-testimonial background-quote">Home means a place of comfort and unity of family. It's a peaceful place to end a long day.</p>
            <p class="section-subtitle"><strong>April</strong><br>Burbank, California</p>
          </div>
          <p><a href="#" class="primary button">More on What Home Means to Me <svg xmlns="http://www.w3.org/2000/svg" viewBox="40 40 400 400"><path d="M322.7 128.4l100.3 105c6 5.8 9 13.7 9 22.4s-3 16.5-9 22.4L322.7 383.6c-11.9 12.5-31.3 12.5-43.2 0-11.9-12.5-11.9-32.7 0-45.2l48.2-50.4h-217c-17 0-30.7-14.3-30.7-32s13.7-32 30.6-32h217l-48.2-50.4c-11.9-12.5-11.9-32.7 0-45.2 12-12.5 31.3-12.5 43.3 0z" fill="#ffb718"/></svg></a></p>
        </div>
        <div class="testimonials-image-rotate columns medium-5 large-6">
           <img class="testimonial-image-offset" src="/images/homepage/testimonial.png" alt="Photo of April from Burbank, California">
        </div>
      </div>
    </div>
  </div>
</div>
