<div class="homepage-testimonials">
  <div class="row">
    <div class="xlarge-offset-1 xlarge-10 end column">      
      <div class="testimonials-multi row">
        <div class="text-right show-for-medium testimonail-feature"  aria-hidden="true">
          <img  class="no-border testimonial-image-offset" src="/images/homepage/careers-corey-lg.png" alt="Photo of employee">
          <img  class="no-border testimonial-image-offset hide" src="/images/homepage/careers-woman1-lg.png" alt="Photo of employee">
          <img  class="no-border testimonial-image-offset hide" src="/images/homepage/careers-woman2-lg.png" alt="Photo of employee">
        </div>
        <div class="testimonials-quote">
          <div class="article-category">Our People</div>
          <div class="testimonials-quote-container">
            <p class="title-testimonial background-quote">We touch so many lives here.</p>
            <p class="section-subtitle"><strong>Corey</strong>, Business transformation manager<br>Multifamily Community Mission</p>
            <p><a href="#" class="primary button">Meet Corey</a></p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">It is never too late to be what you might have been.</p>
            <p class="section-subtitle"><strong>Name</strong>, Job title<br>Department/Division</p>
            <p><a href="#" class="primary button">Meet Person 2</a></p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">Find out what you like doing best, and get someone to pay you for it.</p>
            <p class="section-subtitle"><strong>Name</strong>, Job title<br>Department/Division</p>
            <p><a href="#" class="primary button">Meet Person 3</a></p>
          </div>
        </div>
        <div class="testimonials-thumbnails hide" aria-hidden="true">
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img class="no-border is-active" src="/images/homepage/careers-corey-sm.jpg" alt="Photo of an employee"></a></div>
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img class="no-border" src="/images/homepage/careers-woman1-sm.jpg" alt="Photo of an employee"></a></div>
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img class="no-border" src="/images/homepage/careers-woman2-sm.jpg" alt="Photo of an employee"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
