<div class="homepage-testimonials">
  <div class="row">
    <div class="xxlarge-offset-1 xxlarge-10 end column">      
      <div class="testimonials-multi row">
        <div class="text-right show-for-medium testimonail-feature"  aria-hidden="true">
          <img  class="no-border testimonial-image-offset" src="/images/homepage/Kamara_cutout.png" alt="Photo of Kamara">
          <img  class="no-border testimonial-image-offset hide" src="/images/homepage/Bellore_cutout.png" alt="Photo of Bellore">
          <img  class="no-border testimonial-image-offset hide" src="/images/homepage/VanAnh_cutout.png" alt="Photo of VanAnh">
        </div>
        <div class="testimonials-quote">
          <div class="article-category">Meet Our People</div>
          <div class="testimonials-quote-container">
            <p class="title-testimonial background-quote">When the hard work is done and I see results, it gives me a strong sense of purpose.</p>
            <p class="section-subtitle"><strong>Kamara</strong>
            <br>production manager, Multifamily</p>
            <p><a href="#" class="primary button">Meet Kamara</a></p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">I like forging new territory and dealing with large initiatives.</p>
            <p class="section-subtitle"><strong>Bellore</strong>
            <br>business process director, Single-Family</p>
            <p><a href="#" class="primary button">Meet Bellore</a></p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">I think if you really put your mind into something, you can do almost anything.</p>
            <p class="section-subtitle"><strong>VanAnh</strong>
            <br> IT systems analyst, Single-Family</p>
            <p><a href="#" class="primary button">Meet VanAnh</a></p>
          </div>
        </div>
        <div class="testimonials-thumbnails" aria-hidden="true">
        
        
          <div class="testimonials-thumbnail"><a class="is-active" href="#"><img class="no-border img-inactive" src="/images/homepage/Kamara_thumb.png" alt="Photo of Kamara"><img class="no-border img-active" src="/images/homepage/Kamara_thumb-selected.png" alt="Photo of Kamara"></a></div>
          <div class="testimonials-thumbnail"><a href="#"><img class="no-border img-inactive" src="/images/homepage/Bellore_thumb.png" alt="Photo of Bellore"><img class="no-border img-active" src="/images/homepage/Bellore_thumb-selected.png" alt="Photo of Bellore"></a></div>
          <div class="testimonials-thumbnail"><a href="#"><img class="no-border img-inactive" src="/images/homepage/VanAnh_thumb.png" alt="Photo of an VanAnh"><img class="no-border img-active" src="/images/homepage/VanAnh_thumb-selected.png" alt="Photo of an VanAnh"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

