<section class="homepage-testimonials">
  <div class="row">
    <div class="xlarge-offset-1 xlarge-10 end columns">      
      <div class="testimonials-multi row">
        <div class="text-right show-for-medium medium-offset-2 medium-10"  aria-hidden="true">
          <img  class="testimonial-image-offset" src="/images/homepage/careers-corey-lg.png" alt="Photo of employee">
          <img  class="testimonial-image-offset hide" src="/images/homepage/careers-woman1-lg.png" alt="Photo of employee">
          <img  class="testimonial-image-offset hide" src="/images/homepage/careers-woman2-lg.png" alt="Photo of employee">
        </div>
        <div class="testimonials-quote">
          <div class="article-category">Careers</div>
          <div class="testimonials-quote-container">
            <p class="title-testimonial background-quote">We touch so many lives here.</p>
            <p class="section-subtitle"><strong>Corey</strong><br>Multifamily Community Mission</p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">It is never too late to be what you might have been.</p>
            <p class="section-subtitle"><strong>Name</strong><br>Department/Division</p>
          </div>
          <div class="testimonials-quote-container hide">
            <p class="title-testimonial background-quote">Find out what you like doing best, and get someone to pay you for it.</p>
            <p class="section-subtitle"><strong>Name</strong><br>Department/Division</p>
          </div>
          <p><a href="http://www.freddiemac.jobs/" class="primary button">Join the Freddie Mac Team <svg xmlns="http://www.w3.org/2000/svg" viewBox="40 40 400 400"><path d="M322.7 128.4l100.3 105c6 5.8 9 13.7 9 22.4s-3 16.5-9 22.4L322.7 383.6c-11.9 12.5-31.3 12.5-43.2 0-11.9-12.5-11.9-32.7 0-45.2l48.2-50.4h-217c-17 0-30.7-14.3-30.7-32s13.7-32 30.6-32h217l-48.2-50.4c-11.9-12.5-11.9-32.7 0-45.2 12-12.5 31.3-12.5 43.3 0z" fill="#ffb718"/></svg></a></p>
        </div>
        <div class="testimonials-thumbnails hide" aria-hidden="true">
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img class="is-active" src="/images/homepage/careers-corey-sm.jpg" alt="Photo of an employee"></a></div>
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img src="/images/homepage/careers-woman1-sm.jpg" alt="Photo of an employee"></a></div>
          <div class="testimonials-thumbnail"><a class="overlay overlay-orange" href="#"><img src="/images/homepage/careers-woman2-sm.jpg" alt="Photo of an employee"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
