<div class="row collapse home-grid">
  <div class="large-9 columns">
    <div class="row medium-up-3 collapse grid__top" data-equalizer data-equalize-on="medium">
      <div class="column cta-block" data-equalizer-watch>
        <div>
          <span class="cta-block__category">Our Perspective</span>
          <h3><a href="#">We're helping expand access to homeownership with technology</a></h3>
          <figure class="avatar">
            <div>
              <img src="/images/avatar.jpg" alt="Avatar img" />
            </div>
            <div>
              <figcaption>Christina Boyle<br>Senior Vice President</figcaption>
            </div>
          </figure>
        </div> 
      </div>
      <div class="column cta-block cta-block_alabaster" data-equalizer-watch>
        <div>
          <span class="cta-block__category">Housing News</span>
          <h3><a href="#">Purchases of previously owned homes rebounded</a></h3>
          <p class="show-for-medium">We think the outlook for global growth will improve—or at least stabilize—throughout the.</p>
        </div>
      </div>
      <div class="column cta-block cta-block_buttercup cta-block_centered cta-block_lg-title" data-equalizer-watch>
        <div>
          <span class="cta-block__category">By the Numbers</span>
          <h3>1.6 Americans Helped</h3>
          <p>We’ve provided over $400 billion in mortgage funding in 2015 for American families</p>
        </div>
      </div>
    </div>
    <div class="row collapse grid__bottom" data-equalizer data-equalize-on="medium">
      <div class="medium-4 columns cta-block cta-block_sushi" data-equalizer-watch>
        <div>
          <span class="cta-block__category">Freddie Mac Blog</span>
          <h3><a href="#">Almost $1b in sold in the 20th STACR<sup>®</sup> offering</a></h3>
          <p class="show-for-medium">We think the outlook for global growth will improve—or at least stabilize—throughout the.</p>
        </div>
      </div>
      <div class="medium-8 columns cta-block cta-block_celery" data-equalizer-watch>
        <div class="">
          <span class="cta-block__category">Freddie Mac Research</span>
          <h3><a href="#">Housing will have its best year in a decade or more. </a></h3>
          <p><a href="#">We think the outlook for global growth will improve—or at least stabilize—throughout the balance of this year and the downward pressure on U.S. rates will abate.</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 columns cta-block cta-block_cerulean cta-block_centered cta-block_xlg-thin-title cta-block_tall">
    <div>
      <span class="cta-block__category">Doing Business With Us</span>
      <div class="cta-block__img-wrapper"><img src="/images/lightbulb.png" alt="lightbulb" /></div>
      <h3><a href="#">A Brighter Idea in Loan Production</a></h3>
      <div><a class="hollow large button" href="#">Loan Advisor Suite</a></div>
    </div>
  </div>
</div>
