<div class="reveal full background-blue" id="laytonModal" data-reveal aria-labelledby="laytonModalLabel">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2 id="laytonModalLabel">Executive Leadership</h2>
        </div>
        <div class="modal-page-header">
          <h1>Donald Layton</h1>
          <p class="page-subtitle">Chief Executive Officer</p>
        </div>
        <div class=" callout xlarge background-white">
          <div class="row">
            <div class="medium-5 large-4 column">
              <div class="card">
                <img src="/images/Donald_Layton-thumb.jpg">
                <div class="card-section text-center">
                  <p class="uppercase"><a class="icon-download" href="/images/Donald_layton.jpg">Download Hi-Res Image</a></p>
                </div>
              </div>
            </div>
            <div class="medium-7 large-offset-1 large-7 column weight-normal">
              <p><strong>Donald H. Layton</strong> is chief executive officer of Freddie Mac, one of the largest sources of mortgage financing in the United States and a leader in building a more efficient and effective housing finance system.</p>
              <p>Layton has over 40 years of experience in financial services and as a corporate leader. He worked for nearly 30 years at JPMorgan Chase and its predecessors, starting as a trainee and rising to vice chairman and member of the three-person Office of the Chairman, retiring in 2004. More recently, from 2007 to 2009 he served as chairman and then CEO of E*TRADE Financial, which he shepherded through the financial crisis. Additionally, Layton has been a member of the boards of several financial services firms and was a senior advisor to an industry association.</p>
              <p>In his career at JPMorgan Chase, Layton's responsibilities spanned capital markets and investment banking, consumer banking, and operating services. From 2002 to 2004, he was responsible for Chase Financial Services, the consumer and middle market business, which included the fourth largest mortgage firm in the U.S. He was co-chief executive officer of J.P. Morgan, the investment bank of the company, from 2000 to 2002 and oversaw its entire range of global activities. Prior to the merger of Chase Manhattan and J.P. Morgan in 2000, Layton was responsible for Chase's worldwide capital markets and trading activities, including foreign exchange, risk management products, emerging markets, fixed income, and the bank’s investment portfolio and funding department. As well, he was responsible for Treasury & Securities Services, the operating services unit of the company, from 1999 through 2004.</p>
              <p>He served as a senior advisor to the Securities Industry and Financial Markets Association from 2006 to 2008 and serves as chairman emeritus of the board of the Partnership for the Homeless, a nonprofit dedicated to reducing homelessness in New York City, after having been its chair for nearly a decade.</p>
              <p>Layton received simultaneous Bachelor and Master of Science degrees in economics from the Massachusetts Institute of Technology and a Master of Business Administration from Harvard Business School.</p>
              <p class="reduce weight-light">Freddie Mac was established by Congress in 1970 to provide liquidity, stability and affordability to the nation’s residential mortgage markets. Freddie Mac supports communities across the nation by providing mortgage capital to lenders. Today Freddie Mac is making home possible for one in four home borrowers and is one of the largest sources of financing for multifamily housing. For more information please visit <a href="/">www.FreddieMac.com</a> and Twitter <a href="https://www.twitter.com/FreddieMac">@FreddieMac</a>.</p>
            </div>                  
          </div>
        </div>  
      </div>
    </div> 
  </div>
</div>

