<div class="primary-nav" id="primary-nav" data-toggler=".is-mobile-expanded">
  <div class="row column primarynav-buffer"> 
    <div class="top-bar"> 
      <div class="title-bar hide-for-xlarge" id="top-bar-title" data-responsive-toggle="main-nav" data-hide-for="xlarge">
        <div class="float-right">
          <button id="menu-toggle" class="toggle-icon button" type="button" data-toggle="primary-nav" aria-label="toggle menu"></button>
        </div>
          <a href="/corporate/" class="logo-mobile"><span>Freddie Mac Home</span><img class="no-border" src="/images/FreddieMacLogo.svg" alt="Freddie Mac logo"></a>
      </div>
      <div class="top-bar-left show-for-xlarge">
        <a href="/corporate/" class="logo-desktop"><img alt="Freddie Mac logo" src="/images/FreddieMacLogo.svg" class="no-border"></a>
      </div>
      <nav class="top-bar-right" id="main-nav">  
        <ul class="menu vertical xlarge-horizontal">       
          <li id="nav-perspectives"><a href="/corporate/perspectives-landing.html">Perspectives</a>
          </li>
          <li id="nav-research"><a href="/corporate/research-landing.html">Research</a>
          </li>
          <li id="nav-blog"><a href="/corporate/blog-landing.html">Blog</a>
          </li>
          <li id="nav-mediaroom"><a href="/corporate/media-landing.html">Media Room</a>
          </li>
          <li id="nav-about"><a href="/corporate/about-landing.html">About</a>
          </li>
        </ul>
        <ul class="menu vertical show-for-xlarge nav-bus-section" data-accordion-menu>
          <li class="nav-accordion-parent nav-bus-toggle"><a href="#">Our Businesses</a>
            <ul class="menu vertical nested" style="display: none;">
              <li><a href="/singlefamily/"><h4>Single-Family</h4>
                    <p>For lenders, servicers and industry partners</p></a></li>
              <li><a href="/multifamily/"><h4>Multifamily</h4>
                    <p>For lenders, servicers, borrowers and investors</p></a></li>
              <li><a href="/capital-markets/"><h4>Capital Markets</h4>
                    <p>For securities investors</p></a></li>
            </ul>
          </li>
        </ul>
        <!-- mobile nav items below -->  
        <ul class="menu vertical hide-for-xlarge" data-accordion-menu>
          <li class=""><a id="nav-mobile-bus-link" href="#">Our Businesses</a>
            <ul class="menu vertical nested" style="display: block;">
              <li><a href="/singlefamily/">Single-Family</a></li>
              <li><a href="/multifamily/">Multifamily</a></li>
              <li><a href="/capital-markets/">Capital Markets</a></li>
            </ul>
          </li>        
          <li class=""><a id="nav-mobile-rbo-link" href="#">Renters, Buyers, &amp; Owners</a>
            <ul class="menu vertical nested" id="nav-mobile-rbo" style="display: block;">
              <li><a href="http://myhome.freddiemac.com/">My Home by Freddie Mac<sup>&reg;</sup></a></li>
              <li><a href="https://ww3.freddiemac.com/loanlookup/">Do we own your mortgage?</a></li>
              <li><a href="https://www.homesteps.com/">Homes for Sale</a></li>
            </ul>
          </li> 
        </ul>      
      </nav>
    </div>
  </div>
</div>