<div  id="subnav-secondary-nav">
  <nav class="secondary-nav" id="subnav-research" data-toggler=".is-expanded">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-research-toggle" class="hide-for-xlarge" data-toggle="subnav-research">Research Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-research-list">
            <li><a id="subnav-research-mortgage" href="/corporate/research-pmms-article.html">Mortgage Rates</a></li>
            <li><a id="subnav-research-insight" href="/corporate/research-insight.html">Insight</a></li>
            <li><a id="subnav-research-outlook" href="/corporate/research-outlooks.html">Outlook</a></li>
            <li><a id="subnav-research-consumer" href="/corporate/research-consumer.html">Consumer Research</a></li>
            <li><a id="subnav-research-indices" href="/corporate/research-aimi.html">Indices</a></li>
            <li><a id="subnav-research-datasets" href="/corporate/research-data.html">Additional Datasets</a></li>
          </ul>
        </li>
      </ul>     
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-blog" data-toggler=".is-expanded">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-blog-toggle" class="hide-for-xlarge" data-toggle="subnav-blog">Blog Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-blog-list">
            <li><a id="subnav-blog-homeownership" href="/corporate/blog-homeownership.html">Homeownership</a></li>
            <li><a id="subnav-blog-rental" href="/corporate/blog-rental.html">Rental Housing</a></li>
            <li><a id="subnav-blog-research" href="/corporate/blog-research.html">Research &amp; Analysis</a></li>
            <li><a id="subnav-blog-notable" href="/corporate/blog-notable.html">Notable</a></li>
            <li><a id="subnav-blog-archive" href="/corporate/blog-archive.html">Archive</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-mediaroom" data-toggler=".is-expanded">
    <div class="row column">      
      <ul class="hide no-bullet">
        <li><a id="subnav-mediaroom-toggle" class="hide-for-xlarge" data-toggle="subnav-mediaroom">Media Room Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-mediaroom-list">
            <li><a id="subnav-mediaroom-archive" href="/corporate/media-archive.html">Press Release Archive</a></li>
            <li><a id="subnav-mediaroom-resources" href="/corporate/media-and-press.html">Media Resources</a></li>
          </ul> 
        </li>
      </ul>  
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-about" data-toggler=".is-expanded">
    <div class="row column">       
      <ul class="hide no-bullet">
        <li><a id="subnav-about-toggle" class="hide-for-xlarge" data-toggle="subnav-about">About Menu</a>
          <ul class="menu xlarge-horizontal" id="subnav-about-list">
            <li><a id="subnav-about-leaders" href="/corporate/about-our-leaders.html">Our Leaders</a></li>
            <li><a id="subnav-about-business" href="/corporate/about-our-business.html">Our Business</a></li>
            <li><a id="subnav-about-people" href="/corporate/about-our-people.html">Our People</a></li>
            <li><a id="subnav-about-communities" href="/corporate/about-our-communities.html">Our Communities</a></li>
            <li><a id="subnav-about-governance" href="/corporate/about-our-governance.html">Corporate Governance</a></li>
            <li><a id="subnav-about-investors" href="/corporate/about-investors.html">Investor Relations</a></li>
            <li><a id="subnav-about-careers" href="http://www.freddiemac.jobs/">Careers</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
</div>  