<div  id="secondary-nav">
  <nav class="secondary-nav hide" id="subnav-perspectives" data-toggler=".data-expanded">
    <div class="row column">
      <ul class="no-bullet">
        <li><a id="subnav-perspectives-toggle" class="hide-for-xlarge" data-toggle="subnav-perspectives">Perspectives</a>
          <ul class="menu xlarge-horizontal" id="subnav-perspectives-list">
            <li><a href="#">Archive</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-research" data-toggler=".data-expanded">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-research-toggle" class="hide-for-xlarge" data-toggle="subnav-research">Research</a>
          <ul class="menu xlarge-horizontal" id="subnav-research-list">
            <li><a href="/corporate/research-pmms-article.html">Mortgage Rates</a></li>
            <li><a href="#">Insight</a></li>
            <li><a href="#">Outlook</a></li>
            <li><a href="#">Consumer Research</a></li>
            <li><a href="#">Indices</a></li>
            <li><a href="#">Additional Datasets</a></li>
          </ul>
        </li>
      </ul>     
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-blog" data-toggler=".data-expanded">
    <div class="row column">
      <ul class="hide no-bullet">
        <li><a id="subnav-blog-toggle" class="hide-for-xlarge" data-toggle="subnav-blog">Blog</a>
          <ul class="menu xlarge-horizontal" id="subnav-blog-list">
            <li><a href="/corporate/blog-homeownership.html">Homeownership</a></li>
            <li><a href="#">Rental Housing</a></li>
            <li><a href="#">Research &amp; Analysis</a></li>
            <li><a href="#">Notable</a></li>
            <li><a href="/corporate/blog-archive.html">Archive</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-news" data-toggler=".data-expanded">
    <div class="row column">      
      <ul class="hide no-bullet">
        <li><a id="subnav-new-toggle" class="hide-for-xlarge" data-toggle="subnav-news">Media Room</a>
          <ul class="menu xlarge-horizontal" id="subnav-news-list">
            <li><a href="#">Press Release Archive</a></li>
            <li><a href="/corporate/media-and-press.html">Media Resources</a></li>
          </ul> 
        </li>
      </ul>  
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <nav class="secondary-nav" id="subnav-about" data-toggler=".data-expanded">
    <div class="row column">       
      <ul class="hide no-bullet">
        <li><a id="subnav-about-toggle" class="hide-for-xlarge" data-toggle="subnav-about">About</a>
          <ul class="menu xlarge-horizontal" id="subnav-about-list">
            <li><a href="#">Our Leaders</a></li>
            <li><a href="#">Our Business</a></li>
            <li><a href="#">Our People</a></li>
            <li><a href="#">Our Communities</a></li>
            <li><a href="/corporate/tertiary-nav.html">Corporate Governance</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="subnav-bottom"></div>
  </nav>
  <div class="secondary-nav-bottom"></div>
</div>  