
<div class="search-nav hide-for-xlarge background-yellow off-canvas position-top" id="search-offcanvas" data-off-canvas data-transition="overlap">
  <form action="http://search.freddiemac.com/search" method="get" accept-charset="utf-8">
    <input type="hidden" name="entqr" value="0">
    <input type="hidden" name="output" value="xml_no_dtd">
    <input type="hidden" name="sort" value="date:D:L:d1">
    <input type="hidden" name="client" value="default_frontend">
    <input type="hidden" name="ud" value="1">
    <input type="hidden" name="oe" value="UTF-8">
    <input type="hidden" name="ie" value="UTF-8">
    <input type="hidden" name="proxystylesheet" value="default_frontend">
    <input type="hidden" name="getfields" value="description">
    <input type="hidden" name="site" value="default_collection">
    <div class="row">
      <div class="column small-9 medium-10 large-11">
        <input name="q" type="search" placeholder="Site Search" required maxlength="100" aria-label="site search">	   
      </div>
      <div class="column small-3 medium-2 large-1">
        <button type="submit" class="float-right button">Search</button>
      </div>
    </div>
  </form>
</div>