<div class="hide-for-xlarge">
  <form action="http://search.freddiemac.com/search" method="get" accept-charset="utf-8">
    <input type="hidden" name="entqr" value="0">
    <input type="hidden" name="output" value="xml_no_dtd">
    <input type="hidden" name="sort" value="date:D:L:d1">
    <input type="hidden" name="client" value="default_frontend">
    <input type="hidden" name="ud" value="1">
    <input type="hidden" name="oe" value="UTF-8">
    <input type="hidden" name="ie" value="UTF-8">
    <input type="hidden" name="proxystylesheet" value="default_frontend">
    <input type="hidden" name="getfields" value="description">
    <input type="hidden" name="site" value="default_collection">
    <div class="input-group">
      <input type="search" placeholder="Search" name="q" class="input-group-field">	                
      <div class="input-group-button">
        <button type="submit" class="button button-search" aria-label="submit search"></button>
      </div>
    </div> 
  </form>  
</div>