    <div class="row grid-block" data-equalizer="grid1" data-equalize-on="large" data-equalize-on-stack="true">
      <div class="column column-block large-6">
        <a href="http://www.freddiemac.com/corporate/movinghousingforward/">
        <div class="callout background-primary callout-overlay" style="background-image: url('/images/about/moving-housing-forward.jpg'); background-position: center center;"  data-equalizer-watch="grid1">
          <div class="center-vertically">
            <div class="row">
              <div class="column small-10 medium-6 large-7">
                <p class="grid-block-title-large gutter-top">Moving Housing Forward</p>
                <p class="grid-block-text">We're building a better FreddieMac and a better housing finance system for America's families. <span class="show-for-medium">See how our progress is moving housing forward.</span></p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      <div class="column column-block large-6">
        <div  data-equalizer-watch="grid1">
          <div class="row">
            <div class="column column-block small-12">
              <a href="https://www.youtube.com/watch?v=3Ww7mgS2mtk" class="video-modal widescreen-video block" data-src="//www.youtube-nocookie.com/embed/3Ww7mgS2mtk?rel=0&amp;wmode=transparent">              
                <div class="callout background-yellow">
                  <p class="grid-block-title-large">What We Do</p>
                  <p class="grid-block-text">Our role in the secondary mortgage market</p>
                  <p class="grid-block-text">Video title: <span area-label="video length in minutes">1:32</span></p>
                </div>                
              </a>
            </div>
          </div>    
          <div class="row" data-equalizer="grid2" data-equalize-on="small" data-equalize-on-stack="true">
            <div class="column small-6">
              <div class="callout background-primary" data-equalizer-watch="grid2">
                <p class="grid-block-title-large">30-year Fixed-Rate Mortgage</p>
                <p class="grid-block-text">Making monthly payments more affordable, consistent, and flexible to repay early without penalty.</p>
              </div>
            </div>
            <div class="column small-6">
              <a href="/corporate/about-landing.html">
              <div class="callout background-orange" data-equalizer-watch="grid2">
                <p class="grid-block-title-large">Our Offices</p>
                <p class="grid-block-text">Corporate headquarters in McLean, Virginia, and regional offices in Atlanta, Chicago, Dallas, Los Angeles, and New York.</p>
              </div>
              </a>
            </div>
          </div> 
        </div>  
      </div>
    </div>
    <div class="row grid-block" data-equalizer data-equalize-on="small">
      <div class="column column-block large-6">
        <div class="callout background-gray" data-equalizer-watch>
          <div class="row">
            <div class="column small-9 large-6">
              <p class="grid-block-title-large">Our Businesses</p>
              <p class="grid-block-text"><strong class="uppercase">Multifamily</strong> has funded $39 billion for 523,000 apartments in 2016.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column column-block large-6">
        <a href="/corporate/perspectives-landing.html">
        <div class="callout background-teal" data-equalizer-watch>
          <div class="row">
            <div class="column small-9 large-6">
              <p class="grid-block-title-large">Industry Leading Viewpoints</p>
              <p class="grid-block-text">Perspectives that lead the housing industry forward.</p>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row grid-block" data-equalizer data-equalize-on="small">      
       <div class="column large-6"> 
        <div class="row">
          <div class="column column-block small-6">
            <a href="/corporate/executive-leadership.html">
            <div class="callout background-blue"  data-equalizer-watch>
              <p class="grid-block-title-large">Our Leadership</p>
              <p class="grid-block-text">Meet our leadership team.</p>        
            </div>
            </a>
          </div>
          <div class="column column-block small-6">
            <div class="callout background-primary"  data-equalizer-watch>
              <p class="grid-block-title-large">Employees</p>
              <p class="grid-block-text">5,400 Employees</p>        
            </div>
          </div>
        </div>
      </div> 
       <div class="column large-6"> 
        <div class="row">
          <div class="column column-block small-6">
            <div class="callout background-yellow"  data-equalizer-watch>
              <p class="grid-block-title-large">Protecting Tax Payers</p>
              <p class="grid-block-text">Private investors take on a significant portion of our credit risk – shifting it off of taxpayers.</p>
            </div>
          </div>
          <div class="column column-block small-6">
            <div class="callout background-primary callout-overlay" style="background-image: url('/images/about/grid-image1.jpg')"  data-equalizer-watch>
              <p class="show-for-sr">this block contains a background image</p>
          </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="row grid-block" data-equalizer data-equalize-on="small">    
      <div class="column column-block large-3">          
        <div class="callout background-purple callout-overlay" style="background-image: url('/images/about/grid-image2.jpg')"  data-equalizer-watch>
          <p class="show-for-sr">this block contains a background image</p>
        </div>
      </div> 
      <div class="column column-block large-6">
        <div class="callout background-primary" data-equalizer-watch>
          <div class="center-vertically">
            <div class="row">
              <div class="column small-9 large-6">
                <p class="grid-block-title-large">Communities</p>
                <p class="grid-block-text">We make a positive difference in communities nationwide.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column column-block large-3">          
        <div class="callout background-orange" data-equalizer-watch>
          <p class="grid-block-title-large">Financial Results</p>
          <p class="grid-block-text">OTCQB:FMCC</p>        
        </div>
      </div>  
    </div>
    <div class="row grid-block" data-equalizer data-equalize-on="small"> 
      <div class="column column-block large-3">          
        <div class="callout background-gray" data-equalizer-watch>
          <p class="grid-block-title-large">Oversight</p>
          <p class="grid-block-text">The Federal Housing Finance Agency acts as our regulator.</p>        
        </div>
      </div>  
      <div class="column column-block large-3">  
        <a href="https://ww3.freddiemac.com/loanlookup/">
        <div class="callout background-blue"  data-equalizer-watch>
          <p class="grid-block-title-large">loan look-up tool</p>
          <p class="grid-block-text">Do we own your mortgage?</p>        
        </div>
        </a>
      </div>   
      <div class="column column-block large-6">  
        <div class="callout background-charcoal callout-overlay"  style="background-image: url('/images/about/grid-2-wide.jpg')" data-equalizer-watch>
          <p class="show-for-sr">this block contains a background image</p>
        </div>
      </div>             
    </div>