    <div class="row xlarge-up-2">
      <div class="columns">
        <div class="article-block article-block-lg">
          <a href="/corporate/perspectives-detail.html" class="overlay overlay-gradient">
            <img src="/images/perspectives/gilmore-lg.jpg" alt="Yvette Gilmore"/>
            <div class="overlay-contents">
              <div class="article-date-lg">August 22, 2016</div>
              <h3 class="subtitle">The New Normal: Servicing in a Post-Crisis World</h3>
              <p class="article-blurb-lg">In the years since the crisis we’ve made important strides in making the servicing industry stronger, more efficient and better able to help struggling borrowers. Today servicers have broadly delegated authority...</p>
              <div class="article-author"><strong class="uppercase">Yvette Gilmore</strong><br><span class="reduce">VP Single-Family Servicer Performance Management</span></div>
            </div>
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="article-block article-block-lg">
          <a href="/corporate/perspectives-detail.html" class="overlay overlay-gradient">
            <img src="/images/perspectives/hanson-lg.jpg" alt="Mark Hanson"/>
            <div class="overlay-contents">
              <div class="article-date-lg">Jul 11, 2016</div>
              <h3 class="subtitle">The Single Security: Testing the Pipes</h3>
              <p class="article-blurb-lg">Borrowers such as step-rate mortgages and partial principal forbearance. In addition, we’ve made it possible for them to modify loans without documentation through our streamlined modification program.</p>
              <div class="article-author"><strong class="uppercase">Mark Hanson</strong><br><span class="reduce">Senior Vice President Securitization</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>