<div class="row medium-up-2 xlarge-up-4" data-equalizer data-equalize-on="medium">
	<div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">August 13, 2016</div>
        <h3 class="headline-perspectives"><a href="#">Multifamily Is On a Roll</a></h3>
        <p class="article-blurb-perspectives">2016 was a very good year. Freddie Mac Multifamily is on track to purchase approximately $55 billion and securitize over $50 billion in loans – both new records. Barring any surprises, we believe the multifamly industry – and our business -- can grow another five to ten percent next year. </p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/brickman-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">David Brickman</strong><br>EVP Multifamily Business</figcaption>
          </div>
        </figure>
      </div>
		</div>
	</div>
	<div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">June 27, 2016</div>
        <h3 class="headline-perspectives"><a href="#">Homeownership: Where We Are Now, Where We Are Headed</a></h3>
        <p class="article-blurb-perspectives">The second half of the 20th century brought with it remarkable growth in homeownership.  For the first four decades of the century, homeownership rates were relatively stable and remained below 50 percent, dropping as low as 44 percent in 1940. Following World War II, the rate of homeownership surged, propelled by the GI Bill, the institutionalization of the 30-year fixed-rate mortgage, and the creation of FHA, VA, and the GSEs.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/gilmore-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Yvette Gilmore</strong><br>VP Single-Family Servicer Performance Management </figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">May 13, 2016</div>
        <h3 class="headline-perspectives"><a href="#">This is the Week to Learn About Mortgage Fraud</a></h3>
        <p class="article-blurb-perspectives">Fraud continues to threaten homebuyers, renters and the mortgage industry. The latest report from CoreLogic, a real estate information company, says fraud is on an upward trajectory and estimates that some 13,000 mortgage applications made during the second quarter had indications of fraud.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/layton-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Donald H. Layton</strong><br>CEO</figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">April 30, 2016</div>
        <h3 class="headline-perspectives"><a href="#">Freddie Mac Reports Another Quarter of Solid Financial Results</a></h3>
        <p class="article-blurb-perspectives">Today Freddie  Mac reported net income and comprehensive income of $2.3 billion for the third quarter  of 2016. Our results strongly reflect our improving business fundamentals and  competitiveness &ndash; higher purchase volumes, an eight-year best in credit quality  and a continued decline in legacy assets.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/hanson-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Mark Hanson</strong><br>SVP Securitization</figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">April 16, 2016</div>
        <h3 class="headline-perspectives"><a href="#">The Homeownership Rate: Are Demographics Destiny?</a></h3>
        <p class="article-blurb-perspectives">Today, the homeownership rate is less than 63 percent, the lowest rate in half a century. It has been declining for over a decade and experts are projecting it will continue to keep falling&mdash;perhaps even below 60 percent.</p>
              <figure class="avatar">
          <div>
            <img src="/images/perspectives/lowman-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Dave Lowman</strong><br>EVP, Single-Family Business</figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">April 2, 2016</div>
        <h3 class="headline-perspectives"><a href="#">Saving Your Resources and the Earth's</a></h3>
        <p class="article-blurb-perspectives">Improving home energy and water efficiency is a meaningful way to help tackle two of today's most pressing concerns: housing affordability and society's impacts on the environment. But financing these improvements can be a challenge. Freddie Mac helps make it easier. And we're working to do even more.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/layton-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Donald H. Layton</strong><br>CEO</figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">April 13, 2016</div>
        <h3 class="headline-perspectives"><a href="#">Four Tips for Making an Offer</a></h3>
        <p class="article-blurb-perspectives">The good news for today's homebuyers is that we've gone back to a more traditional market, after being dominated by investors and cash sales for several years. Nearly 68 percent of homes sales are to individual buyers today, compared to 53 percent in 2011 when investor/cash sales reached their peak.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/brickman-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">David Brickman</strong><br>EVP Multifamily Business</figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
  <div class="column">
		<div class="article-block full">
      <div class="clippings-block-author" data-equalizer-watch>
        <div class="article-date">March 30, 2016</div>
        <h3 class="headline-perspectives"><a href="#">The Single Security: Testing the Pipes </a></h3>
        <p class="article-blurb-perspectives">Before this year ends, a new chapter in the way capital supports homeownership in this country will begin. If all goes as planned, Freddie Mac will be the first company to issue fixed-rate mortgage-backed securities through the Common Securitization Platform (CSP). We also plan to move all existing fixed-rate Freddie Mac Participation Certificates (PCs) to the CSP, which will support their administration as well as new issuances.</p>
        <figure class="avatar">
          <div>
            <img src="/images/perspectives/gilmore-sm.jpg" alt="Avatar image" />
          </div>
          <div>
            <figcaption class="reduce"><strong class="uppercase">Yvette Gilmore</strong><br>VP Single-Family Servicer Performance Management </figcaption>
          </div>
        </figure>
      </div>
    </div>
	</div>
</div>
