<div class="callout large background-primary research-featured">
  <div class="article-date-lg"><strong><span class="uppercase">Outlook</span></strong> | February 2, 2017</div>
  <div class="media-object blurb3-leads-image2 stack-for-small">
    <div class="media-object-section">
       <h2><a href="/corporate/research-detail.html">We’ve Been Here Before</a></h2>
       <p>Economic growth is bouncing back from a weak first half, the labor market is holding steady with low unemployment and modest wage gains. And Fed watchers are coming to the conclusion that a December rate hike is likely and worldwide economic growth is weak and prospects have gotten worse. We've been here before… last year. </p>
       <p><a href="/corporate/research-detail.html" class="button hollow">Read More</a></p>
    </div>
    <div class="media-object-section">
      <a href="/corporate/research-detail.html"><img src="/images/research/201612-ol-forecast-snapshot.jpg" alt=""></a>
    </div>
  </div>
</div>