<div class="top-bar ribbon show-for-xlarge data-expanded" id="ribbon">    
  <div id="ribbon-nav" class="row column">  
    <nav class="top-bar-right">
      <ul class="menu dropdown"  data-dropdown-menu>
        <li id="desktop-corporate-home"><a href="/corporate/">Freddie Mac Home</a></li>
        <li id="desktop-singlefamily-home"><a href="/singlefamily/">Single-Family</a></li>
        <li id="desktop-multifamily-home"><a href="/multifamily/">Multifamily</a></li>
        <li id="desktop-investments-home"><a href="/investments/">Capital Markets</a></li>
        <li class="is-dropdown-submenu-parent"><a href="#">Renters, Buyers, &amp; Owners</a>
          <ul class="menu">
            <li><a href="http://myhome.freddiemac.com/"><h4>My Home by Freddie Mac<sup>&reg;</sup></h4>
            <p>Resources to help you rent, buy and own your home.</p></a>
            </li>
            <li><a href="https://ww3.freddiemac.com/loanlookup/"><h4>Do we own your mortgage?</h4>
            <p>Find out if Freddie Mac owns your loan using our secured lookup tool.</p></a>
            </li>
            <li><a href="https://www.homesteps.com/"><h4>Homes for Sale</h4>
            <p>Buy a home from HomeSteps<sup>&reg;</sup>, the real estate sales unit of Freddie Mac.</p></a>
            </li>
          </ul>
        </li> 
        <li>              
          <form action="http://search.freddiemac.com/search" method="get" accept-charset="utf-8">
            <input type="hidden" name="entqr" value="0">
            <input type="hidden" name="output" value="xml_no_dtd">
            <input type="hidden" name="sort" value="date:D:L:d1">
            <input type="hidden" name="client" value="default_frontend">
            <input type="hidden" name="ud" value="1">
            <input type="hidden" name="oe" value="UTF-8">
            <input type="hidden" name="ie" value="UTF-8">
            <input type="hidden" name="proxystylesheet" value="default_frontend">
            <input type="hidden" name="getfields" value="description">
            <input type="hidden" name="site" value="default_collection">
            <div class="input-group">
              <input type="search" placeholder="Search" name="q" class="input-group-field">	                
              <div class="input-group-button">
                <button type="submit" class="button" aria-label="submit search"></button>
              </div>
            </div> 
          </form>  
        </li>
      </ul>        
    </nav>
  </div>
</div>




