
<div class="faq-list">
  <div class="faq">
    <p><a id="a1q" href="#a1">What is the Selling System?</a></p>
    <div aria-labelledby="#a1q" id="a1">
      <p>Selling System is Freddie Mac's online system for purchasing mortgages. It integrates all secondary functions from pricing to funding and helps you easily deliver mortgages to us under a variety of executions.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a2q" href="#a2">How do I get started with the Selling System?</a></p>
  <div aria-labelledby="#a2q" id="a2">
    <p>To start using Selling System you'll need to provide Freddie Mac with information regarding authorized Selling System users and their roles. You submit this information by completing and submitting the required forms.</p>
  </div>
  </div>
  <div class="faq">
    <p><a id="a3q" href="#a3">What Selling System training or resources are available?</a></p>
    <div aria-labelledby="#a3q" id="a3">
      <p>Freddie Mac offers multiple training resources and opportunities. Please see the <a href="/learn/deliver/">Learning Center</a> for more information, including self-study tutorials available 24/7 and training for new users.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a4q" href="#a4">What information do I need to provide to sell a mortgage to Freddie Mac?</a></p>
    <div aria-labelledby="#a4q" id="a4">
      <p>The <em>Single-Family Seller/Servicer Guide</em> (Guide) contains Freddie Mac's requirements for the purchase, sale and servicing of mortgages. For more information on how to access the Guide, visit our Guide <a href="/singlefamily/guide/">web page</a>. We periodically publish updates to these requirements through Guide Bulletins and Industry Letters. To receive notice of these updates and other important information, visit the <a href="/singlefamily/news/subscribe.html">Subscription Center</a>. <br /><br /> For more information on specific data fields that must be delivered in the Selling System, &nbsp;review Guide Chapter 6302 and visit our <a href="/singlefamily/sell/uniform_delivery.html">Uniform Loan Delivery Dataset page</a>.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a5q" href="#a5">When is the Selling System available?</a></p>
    <div aria-labelledby="#a5q" id="a5">
      <p>Please click <a href="/singlefamily/sell/sellingloanshours.html">here</a> for Selling System hours of operation, and be sure to <a href="/singlefamily/news/subscribe.html">sign up</a> for our Technology System Alerts to stay updated on any developments.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a6q" href="#a6">What additional help is available if I have questions?</a></p>
    <div aria-labelledby="#a6q" id="a6">
      <p>In addition to the online resources mentioned above, our Customer Support Team can be reached by calling 800-FREDDIE.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a7q" href="#a7">When will the Selling System receive single sign-on and align visually with Loan Advisor Suite?</a></p>
    <div aria-labelledby="#a7q" id="a7">
      <p>In the future, we'll enable single sign-on and update Selling System&rsquo;s look and feel to align with the Suite&rsquo;s look and feel and easier navigation. As always, we'll let you know ahead of time before we make any updates.</p>
    </div>
  </div>
</div>