<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h2 class="sidebar-title">Search News Room</h2>
        <p>Freddie Mac's news releases are listed chronologically and can be searched by year, category, or through our advanced search form.</p>
        <form class="form">
          <p><input type="search" placeholder="Search"></p>
          <p><a class="primary button" href="#">Search</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
