<section class="sidebar sidebar-blue">
  <div class="row">
    <div class="sidebar-txt">
      <h2 class="subtitle">Get The Weekly Roundup</h2>
      <p>Sign up for the <strong>Weekly Roundup</strong> and get Freddie Mac blog articles delivered to your inbox.</p>      
      <form class="form outline outline-primary">
        <p><input type="email" placeholder="Your Email Address"></p>
        <p><a class="primary button expanded" href="#">Sign Up</a></p>
      </form>
    </div>
  </div>
</section>
