<section class="sidebar sidebar-gray">
  <div class="row">
    <h2>RSS Blog Feeds</h2>
    <ul class="sidebar-list no-bullet lead">
      <li><a class="icon-rss-white" href="#">All Posts</a></li>
      <li><a class="icon-rss-white" href="#">Homeownership</a></li>
      <li><a class="icon-rss-white" href="#">Rental Housing</a></li>
      <li><a class="icon-rss-white" href="#">Research &amp; Analysis</a></li>
      <li><a class="icon-rss-white" href="#">Notable</a></li>
    </ul>
  </div>
</section>
