<table class="research-table">
  <thead>
    <tr>
      <th colspan="2" class="text-center uppercase"><span class="weight-light">Full Year 2017</span> as of January</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><span class="reduce">30-Yr FRM</span><br>
        <span class="stat-sm">4.2%</span><br>
      </td>
      <td class="text-center"><span class="reduce">Originations</span><br>
        <span class="stat-sm">1,505 ($B)</span><br>
      </td>
    </tr>
    <tr>
      <td class="text-center"><span class="reduce">Home Sales</span><br>
        <span class="stat-sm">5.75 (M)</span><br>
      </td>
      <td class="text-center"><span class="reduce">House Price Growth</span><br>
        <span class="stat-sm">4.7%</span><br>
      </td>
    </tr>
  </tbody>
</table>