<section class="sidebar background-purple sidebar-feature ">
  <div class="feature-background" style="background-image: url('/images/research/featured-background.jpg')"></div>
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
      <p class="article-category">Insight <span class="weight-light">| November 30, 2016</span></p>
      <h3 class="sidebar-title">Interest Rates Heading Higher. What That Means for Housing.</h3>
        <p>Interest rates surged higher over the past two weeks following the U.S. presidential election.  The 10-year Treasury closed at 2.35 percent on November 18, 2016, up over 50 basis points... </p>
        <p><a class="hollow button" href="#">Read More</a></p>
      </div>
    </div>
  </div>
</section>