<section class="sidebar background-primary">
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h2 class="sidebar-subtitle">Get The Weekly Roundup</h2>
        <p>Sign up for the <strong>Weekly Roundup</strong> and get Freddie Mac blog articles delivered to your inbox.</p>      
        <form class="form outline">
          <p><input type="email" placeholder="Your Email Address"></p>
          <p><a class="primary button" href="#">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
