<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Recent Posts</h2>
      <ul class="list-divided no-bullet">
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/blog/post-1.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">May 9, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Homework and a Home Purchase</a></h3>
            <div class="article-category">Homeownership</div>
          </div>
        </li>
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/blog/post-2.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">May 2, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Law Enforcement Cracking Down on Home Rental Scams</a></h3>
            <div class="article-category">Rental Housing</div>
          </div>
        </li>
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">
            <a class="overlay" href="#">
              <img src="/images/blog/post-3.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">April 23, 2016</div>
            <h3 class="sidebar-headline"><a href="#">A Slow Start to the Best Year in Home Sales in a Decade</a></h3>
            <div class="article-category">Research &amp; Analysis</div>
          </div>
        </li>
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">
            <a class="overlay" href="#">
              <img src="/images/blog/post-4.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">April 19, 2016</div>
            <h3 class="sidebar-headline"><a href="#">What's in Your Trash Can?</a></h3>
            <div class="article-category">Notable</div>
          </div>
        </li>
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">
            <a class="overlay" href="#">
              <img src="/images/blog/post-5.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">April 7, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Guiding the Path to Home Ownership</a></h3>
            <div class="article-category">Homeownership</div>
          </div>
        </li>
        <li class="media-object image-leads-blurb">
          <div class="media-object-section">
            <a class="overlay" href="#">
              <img src="/images/blog/post-6.jpg" alt="image description" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">April 3, 2016</div>
            <h3 class="sidebar-headline"><a href="#">In Search of Roommates as Good as Those on TV</a></h3>
            <div class="article-category">Rental Housing</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
