<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
        <h2 class="sidebar-title">More Research</h2>
      <ul class="list-divided no-bullet">
        <li>
          <div class="article-date"><strong><span class="uppercase">Outlook</span></strong> | October 12, 2016</div>
          <div class="sidebar-headline"><a href="#">Why are the Experts Pessimistic About the Future of Homeownership? </a></div>
        </li>
        <li>
          <div class="article-date"><strong><span class="uppercase">Consumer Research</span></strong> | September 20, 2016</div>
          <div class="sidebar-headline"><a href="#">Mortgage Originations Poised to Surge </a></div>
        </li>
        <li>
          <div class="article-date"><strong><span class="uppercase">Outlook</span></strong> | August 20, 2016</div>
          <div class="sidebar-headline"><a href="#">The Return of the $2 Trillion Mortgage Market </a></div>
        </li>	
        <li>
          <div class="article-date"><strong><span class="uppercase">Outlook</span></strong> | July 19, 2016</div>
          <div class="sidebar-headline"><a href="#">Fun After Fifty</div>
        </li>
      </ul>
    </div>
  </div>
</section>