<section class="sidebar sidebar-blue sidebar-feature">
  <div class="feature-background" style="background-image: url('/images/feature-bg.jpg')"></div>
  <div class="row">
    <div class="sidebar-txt">
      <div class="article-category">Featured Insight</div>
      <h3 class="sidebar-subtitle">Life's a Beach</h3>
      <p class="lead">So you've always dreamed of living at the beach, but you're discouraged by the high price of beachfront property? Not to worry. We've found just the place for you.  </p>
      <p><a class="hollow button expand" href="#">Read More</a></p>
    </div>
  </div>
</section>
