<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-subtitle">Tweets by @FreddieMac</h2>
      <div class="twitter-feed"><a class="twitter-timeline" href="https://twitter.com/FreddieMac" data-widget-id="479247343045206017" data-link-color="#40b3df" data-chrome="noheader nofooter noborder transparent" data-tweet-limit="10">Tweets by @FreddieMac</a>
      <script type="text/javascript">// <![CDATA[
      window.onload=function(){
        !function(d,s,id){ var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
        }(document,"script","twitter-wjs");
      };
      // ]]></script>
      </div>
    </div>
  </div>
</section>
