<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Recent Posts</h2>
      <ul class="list-divided no-bullet">
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_david_brickman-small.jpg" alt="David Brickman" />
            </a>
          </div>
          <div class="media-object-section">
            <div class="article-date">Dec 23, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Multifamily Is On a Roll</a></h3>
            <p class="article-byline-small">By <strong>David Brickman</strong>,<br> EVP Multifamily Business</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/gilmore-small.jpg" alt="Yvette Gilmore" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Dec 12, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Homeownership: Where We Are Now, Where We Are Headed</a></h3>
            <p class="article-byline-small">By <strong>Yvette Gilmore</strong>,<br> VP Single-Family Servicer Performance Management</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_donald_layton-small.jpg" alt="Donald H. Layton" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Nov 21, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Freddie Mac Reports Another Quarter of Solid Financial Results</a></h3>
            <p class="article-byline-small">By <strong>Donald H. Layton</strong>,<br> CEO</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_dwight_robinson-small.jpg" alt="Dwight Robinson" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Nov 2, 2016</div>
            <h3 class="sidebar-headline"><a href="#">Giving Back in the Communities Where We Live and Work</a></h3>
            <p class="article-byline-small">By <strong>Dwight Robinson</strong>,<br> SVP of Human Resources, Diversity & Inclusion and Chief Diversity Officer</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/gilmore-small.jpg" alt="Yvette Gilmore" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Oct 24, 2016</div>
            <h3 class="sidebar-headline"><a href="#">The New Normal: Servicing in a Post-Crisis World</a></h3>
            <p class="article-byline-small">By <strong>Yvette Gilmore</strong>,<br> VP Single-Family Servicer Performance Management</p>
          </div>
        </li>
        <li class="media-object image1-leads-blurb2">
          <div class="media-object-section">  
            <a class="overlay" href="#">
              <img src="/images/perspectives/exec_donald_layton-small.jpg" alt="Donald H. Layton" />
            </a>
          </div>
          <div class="media-object-section">  
            <div class="article-date">Oct 11, 2016</div>
            <h3 class="sidebar-headline"><a href="#">This is the Week to Learn About Mortgage Fraud</a></h3>
            <p class="article-byline-small">By <strong>Donald H. Layton</strong>,<br> CEO</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
