<div class="row medium-up-2 large-up-4 collapse" data-equalizer data-equalize-on="medium">
	<div class="column twitter-block" data-equalizer-watch>
		<div class="twitter-block__overlay"></div>
		<div class="twitter-block__txt">
			<h4>Diana Olick</h4>
			<h5><a href="#">@dianaolick</a></h5>
			<p>30 yr fixed rate #mortgage averaged 3.66% for week ending June 2, up from 3.64% previous week, but down from 3.87% one yr ago <strong><a href="#">@FreddieMac</a></strong></p>
		</div>
	</div>
	<div class="column twitter-block twitter-block_img" style="background-image: url('/images/blog/blog-2.jpg')" data-equalizer-watch>
		<div class="twitter-block__overlay"></div>
		<div class="twitter-block__txt">
			<h4>Freddie Mac</h4>
			<h5><a href="#">@freddiemac</a></h5>
			<p>Mortgage rates up a bit, but we'll see how markets react on tomorrow's jobs report. <strong><a href="#">http://bit.ly/25CJp9P</a></strong></p>
		</div>
	</div>
	<div class="column twitter-block" data-equalizer-watch>
		<div class="twitter-block__overlay"></div>
		<div class="twitter-block__txt">
			<h4>Freddie Mac</h4>
			<h5><a href="#">@freddiemac</a></h5>
			<p>Home Prices: How High Is Too High? <strong><a href="#">http://mndne.ws/24iF4T5</a></strong></p>
		</div>
	</div>
	<div class="column twitter-block twitter-block_img" style="background-image: url('/images/blogtwitter-1.jpg')" data-equalizer-watch>
		<div class="twitter-block__overlay"></div>
		<div class="twitter-block__txt">
			<h4>Freddie Mac</h4>
			<h5><a href="#">@freddiemac</a></h5>
			<p>U.S. Home Price Growth Remained Robust in March <strong><a href="#">http://on.wsj.com/25wHgZN</a></strong> via <strong><a href="#">@WSJ</a></strong></p>
		</div>
	</div>
</div>
