<div class="row medium-up-2 large-up-3">    
  <div class="column gutter-bottom">
    <div class="callout">
      <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/bostic.html">Raphael W. Bostic</a>*</p>
      <p class="card-subtitle">Chair, Department on Governance, <br>
      Management and the Policy Process<br>
      <span class="reduce">University of Southern California</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
      <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/byrd.html">Carolyn H. Byrd</a>*</p>
      <p class="card-subtitle">Chairman and Chief Executive Officer<br>
      <span class="reduce">GlobalTech Financial, LLC</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/drummond.html">Lance F. Drummond</a>*</p>
    <p class="card-subtitle">Retired Executive Vice President, Operations and Technology<br>
    <span class="reduce">TD Canada Trust</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/lynch.html">Christopher S. Lynch</a></p>
    <p class="card-subtitle"><strong>Non-Executive Chairman*</strong><br>
    Retired Partner<br>
    <span class="reduce">KPMG LLP</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/hartnack.html">Richard C. Hartnack</a>*</p>
    <p class="card-subtitle">Retired Vice Chairman and <br>
    Head of Consumer and Small Business Banking<br>
    <span class="reduce">U.S. Bancorp</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/kohlhagen.html">Steven W. Kohlhagen</a>*</p>
    <p class="card-subtitle">Veteran Financial Services <br>
    and Investment Industry Executive</p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="/bios/exec/layton.html">Donald H. Layton</a></p>
    <p class="card-subtitle">Chief Executive Officer<br>
    <span class="reduce">Freddie Mac</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/goldstein.html">Thomas M. Goldstein</a>*</p>
    <p class="card-subtitle">Veteran Financial Services Executive</p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/mathew.html">Sara Mathew</a>*</p>
    <p class="card-subtitle">Retired Chairman and Chief Executive Officer<br>
    <span class="reduce">The Dun &amp; Bradstreet Corporation</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/naqvi.html">Saiyid T. Naqvi</a>*</p>
    <p class="card-subtitle">Retired President and Chief Executive Officer<br>
    <span class="reduce">PNC Mortgage</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/retsinas.html">Nicolas P. Retsinas</a>*</p>
    <p class="card-subtitle">Senior Lecturer in Real Estate<br>
    <span class="reduce">Harvard Business School</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/shanks.html">Eugene B. Shanks, Jr.</a>*</p>
    <p class="card-subtitle"><em>Former President</em><br>
    <span class="reduce">Bankers Trust Company</span></p>
    </div>
  </div>
  <div class="column gutter-bottom">
    <div class="callout">
    <p class="card-title"><a href="http://www.freddiemac.com/governance/bios/williams.html">Anthony A. Williams</a>*</p>
    <p class="card-subtitle">Chief Executive Officer and Executive Director<br>
    <span class="reduce">Federal City Council</span></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="gutter-left gutter-right">
      <p class="reduce">*The Non-Employee Directors have determined that these Directors are independent under the criteria set forth in Freddie Mac's Corporate Governance Guidelines.</div> 
    </p>
  </div>
</div>
