<div class="row small-up-1 large-up-2 grid-block" data-equalizer="tab1grid" data-equalize-on="small" data-equalize-on-stack="true">
              <div class="column column-block">
                <a class="block" href="http://www.freddiemac.com/corporate/movinghousingforward/">
                  <div class="callout background-primary callout-overlay" style="background-image: url('/images/media/background-2wide.jpg'); background-position: top left;" data-equalizer-watch="tab1grid">
                  <p class="grid-block-label">Moving Housing Forward</p>
                  <p class="grid-block-title">Building a<br>Better Housing<br>Finance System</p>
                  </div>
                </a>
              </div>
              <div class="column column-block">
                <div class="row">
                  <div class="column small-6">
                    <a class="block" href="/corporate/perspectives-landing.html">
                      <div class="callout background-yellow" data-equalizer-watch="tab1grid">
                      <p class="grid-block-label">Perspectives</p>
                      <p class="grid-block-title-medium">Insights from <span class="grid-block-title">our company’s leaders</span> into key trends in the housing industry</p>
                      </div>
                    </a>
                  </div>
                  <div class="column small-6">
                    <div class="callout background-green callout-overlay" style="background-image: url('/images/media/one-wide-filler3.jpg')" data-equalizer-watch="tab1grid">
                      <p class="show-for-sr">this block contains a background image</p>
                    </div>
                  </div>
                </div>  
              </div>
               <div class="column column-block"> 
                <div class="row">
                  <div class="column small-6">
                    <a class="block" href="/corporate/blog-landing.html">
                      <div class="callout background-orange" data-equalizer-watch="tab1grid">
                      <p class="grid-block-label">Blog</p>
                      <p class="grid-block-title-medium">Helpful <span class="grid-block-title">information and tips</span> on owning or renting a home and the housing market</p>
                      </div>
                    </a>
                  </div>
                  <div class="column small-6">
                    <div class="callout background-green callout-overlay" style="background-image: url('/images/media/one-wide-filler4.jpg')" data-equalizer-watch="tab1grid">
                      <p class="show-for-sr">this block contains a background image</p>
                    </div>
                  </div>
                </div>
              </div>    
              <div class="column column-block">
                <div class="callout background-gray" data-equalizer-watch="tab1grid">
                  <p class="grid-block-label">Results</p>
                  <p class="grid-block-title"><em>“We’re continuing to improve affordability and access to credit for homebuyers and renters – the core of our community mission.”</em></p>
                  <p class="grid-block-text-small">Donald H. Layton, CEO</p>
                </div>
              </div>
              <div class="column column-block">
                <div class="callout background-purple" data-equalizer-watch="tab1grid">
                  <p class="grid-block-label">Dividends Returned</p>
                  <p class="grid-block-title-medium">We’ve returned <span class="stat">$101 Billion</span> in dividends to US taxpayers, exceding the amount we receive by the U.S. Treasury by 30.1 Billion.</p>
                  <p class="grid-block-text-small">*Includes [date] dividend obligation</p>
                </div>
              </div>
              <div class="column column-block">          
                <div class="row">
                  <div class="column small-6">
                    <div class="callout background-purple callout-overlay" style="background-image: url('/images/media/one-wide-filler5.jpg')" data-equalizer-watch="tab1grid">
                      <p class="show-for-sr">this block contains a background image</p>
                    </div>
                  </div>
                  <div class="column small-6">
                    <a class="block" href="#">
                      <div class="callout background-teal" data-equalizer-watch="tab1grid">
                      <p class="grid-block-label">Green Advantage<sup>SM</sup></p>
                      <p class="grid-block-title">A fresh path to affordable, resource-efficient multifamily rental housing</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>  
              <div class="column column-block">
                <div class="callout background-green callout-overlay" style="background-image: url('/images/media/two-wide-filler2.jpg')" data-equalizer-watch="tab1grid">
                  <p class="show-for-sr">this block contains a background image</p>
                </div>
              </div>
              <div class="column column-block"> 
                <div class="row">
                  <div class="column small-6">
                    <a class="block" href="/corporate/research-landing.html">
                      <div class="callout background-orange" data-equalizer-watch="tab1grid">
                      <p class="grid-block-label">Research</p>
                      <p class="grid-block-title-medium">Original <span class="grid-block-title">research and analysis</span> on housing trends, the economy &amp; the mortgage market</p>
                      </div>
                    </a>
                  </div>
                  <div class="column small-6">
                    <a class="block" href="#">
                      <div class="callout background-blue" data-equalizer-watch="tab1grid">
                      <p class="grid-block-label">Loan Advisor Suite</p>
                      <p class="grid-block-title">Providing a simpler, better way to do business</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>  
              <div class="column column-block">       
                <div class="row">
                  <div class="column small-6">
                    <a class="block" href="#">
                      <div class="callout background-teal" data-equalizer-watch="tab1grid">
                        <p class="grid-block-label">Supporting Communities</p>
                        <p class="grid-block-title">Working to strengthen America’s neighborhoods</p>
                      </div>
                    </a>
                  </div>
                  <div class="column small-6">
                    <div class="callout background-orange callout-overlay" style="background-image: url('/images/media/one-wide-filler6.jpg')" data-equalizer-watch="tab1grid">
                      <p class="show-for-sr">this block contains a background image</p>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="column column-block">
                <div class="callout background-yellow" data-equalizer-watch="tab1grid">
                  <p class="grid-block-label">Our Funding</p>
                  <p class="grid-block-title-medium"><span class="stat">320,000</span> <a href="/singlefamily">Single-Family home purchases <svg class="stroke-anchor-on-dark" height="16px" width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg></a></p>
                  <p class="grid-block-title-medium"><span class="stat">240,000</span> <a href="/singlefamily">Single-Family refinances <svg class="stroke-anchor-on-dark" height="16px" width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg></a></p>
                  <p class="grid-block-title-medium"><span class="stat">220,000</span> <a href="/multifamily">Multifamily Units <svg class="stroke-anchor-on-dark" height="16px" width="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path stroke-width="3" d="M12 22l10-10L12 2M2 22l10-10L2 2"/></svg></a></p>
                </div>
              </div>              
            </div>