<div class="background-yellow footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
      <div class="column large-7" data-equalizer-watch>
        <h3 class="callout-footer-title">The Weekly Round Up</h3>
        <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis. adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
      </div>
      <div class="column large-offset-1 large-4 position-relative" data-equalizer-watch>
        <div class="footer-promo-cta">         
          <form action="#" class="form footer-form outline">
            <input type="email" placeholder="Your Email Address">
            <button class="primary button large" href="#">Sign Up</button>
          </form>
        </div>
      </div>
  </div>
</div>