<div class="background-teal footer-promo">
  <div class="row" data-equalizer data-equalize-on="large">
      <div class="column large-8" data-equalizer-watch>
         <h3 class="callout-footer-title">Get more insight through housing and economic research</h3>
        <p>Expand your knowledge with the latest insights and outlooks from our economists.</p>
      </div>
      <div class="column large-offset-1 large-3 position-relative" data-equalizer-watch>
        <div class="footer-promo-cta">
         <a class="hollow large button" href="/corporate/research-landing.html">Explore</a>
        </div>
      </div>
  </div>
</div>