<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">August 13, 2016</div>
      <h3 class="card-title-large"><a href="#">Multifamily Is On a Roll</a></h3>
      <p class="card-blurb-large">2016 was a very good year. Freddie Mac Multifamily is on track to purchase approximately $55 billion and securitize over $50 billion in loans – both new records. Barring any surprises, we believe the multifamly industry – and our business -- can grow another five to ten percent next year. </p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/brickman-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">David Brickman</strong><br>EVP Multifamily Business</figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">June 27, 2016</div>
      <h3 class="card-title-large"><a href="#">Homeownership: Where We Are Now, Where We Are Headed</a></h3>
      <p class="card-blurb-large">The second half of the 20th century brought with it remarkable growth in homeownership.  For the first four decades of the century, homeownership rates were relatively stable and remained below 50 percent, dropping as low as 44 percent in 1940. </p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/gilmore-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Yvette Gilmore</strong><br>VP Single-Family Servicer Performance Management </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">May 13, 2016</div>
      <h3 class="card-title-large"><a href="#">This is the Week to Learn About Mortgage Fraud</a></h3>
      <p class="card-blurb-large">Fraud continues to threaten homebuyers, renters and the mortgage industry. The latest report from CoreLogic, a real estate information company, says fraud is on an upward trajectory and estimates that some 13,000 mortgage applications made during the second quarter had indications of fraud.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/layton-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Donald H. Layton</strong><br>CEO</figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>
<div class="column">
  <div class="card background-concrete">
    <div class="card-divider" data-equalizer-watch>
      <div class="article-date">April 30, 2016</div>
      <h3 class="card-title-large"><a href="#">Freddie Mac Reports Another Quarter of Solid Financial Results</a></h3>
      <p class="card-blurb-large">Today Freddie  Mac reported net income and comprehensive income of $2.3 billion for the third quarter  of 2016. Our results strongly reflect our improving business fundamentals and  competitiveness &ndash; higher purchase volumes.</p>
      <figure class="avatar">
        <div>
          <img src="/images/perspectives/hanson-sm.jpg" alt="Avatar image" />
        </div>
        <div>
          <figcaption class="reduce"><strong class="uppercase">Mark Hanson</strong><br>SVP Securitization</figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>

