<section class="sidebar background-yellow">
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h2>Media Contact</h2>
        <p class="lead"><span class="weight-light">For Press Inquiries Only</span><br>
        Phone: <strong>(703)903-3933</strong><br>
        Email: <strong><a href="mailto:corprel@freddiemac.com">corprel@freddiemac.com</a></strong></p>
        <p><strong><a href="http://www.freddiemac.com/corporate/about/contactus.htm">Non-press inquiries</a></strong></p>
      </div>
    </div>
  </div>
</section>
