<section class="sidebar background-primary sidebar-feature">
  <div class="feature-background" style="background-image: url('/images/feature-bg.jpg')"></div>
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <p class="article-category">Insight <span class="weight-light">| November 30, 2016</span></p>
        <h3 class="sidebar-title">Three Trends That Are Shaping the Future of Housing </h3>
        <p>Three long-standing trends–ones that have been building quietly over decades–ultimately will have more influence on housing than the week-to-week oscillations of mortgage rates...</p>
        <p><a class="hollow button expand" href="#">Read More</a></p>
      </div>
    </div>
  </div>
</section>
