<table class="research-table">
  <thead>
    <tr>
      <th colspan="3" class="text-center uppercase"><span class="weight-light">Average Rates</span> as of February 2, 2017</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">
        <span class="reduce">30-Yr FRM</span><br>
        <span class="stat-sm">4.19%</span><br>
        <span class="reduce"><strong>0.5</strong> Fees/<wbr>Points</wbr></span>
      </td>
      <td class="text-center">
        <span class="reduce">15-Yr FRM</span><br>
        <span class="stat-sm">3.41%</span><br>
        <span class="reduce"><strong>0.5</strong> Fees/<wbr>Points</wbr></span>
      </td>
      <td class="text-center">
        <span class="reduce">5/1-Yr ARM</span><br>
        <span class="stat-sm">3.23%</span><br>
        <span class="reduce"><strong>0.4</strong> Fees/<wbr>Points</wbr></span>
      </td>
    </tr>
  </tbody>
</table>