<section class="sidebar background-yellow">
  <div class="row">
    <div class="column">
      <h2>Trending Now</h2>
      <ul class="list-divided-white no-bullet lead">
        <li><a href="/blog/tag/?CreditSmart">CreditSmart</a></li>
        <li><a href="/blog/tag/?Homebuying">Homebuying</a></li>
        <li><a href="/blog/tag/?Education%20and%20Tools">Education & Tools</a></li>
        <li><a href="/blog/tag/?Homeownership">Homeownership</a></li>
        <li><a href="/blog/tag/?Renting">Renting</a></li>
      </ul>
    </div>
  </div>
</section>
