<section class="sidebar background-gray">
  <div class="row">
    <div class="column medium-6 large-12">
      <figure><img src="/images/about/DonLayton.jpg" alt="Don Layton"></figure>
    </div>
    <div class="column medium-6 large-12">
      <blockquote>
        <p class="section-subtitle">"A strong diversity program helps Freddie Mac’s business and allows us to more effectively meet the needs of all the communities we serve."</p>
        <footer class="section-subtitle text-right"><cite>Donald Layton, CEO</cite></footer>
      </blockquote>       
    </div>
  </div>
</section>
