<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2>Browse by Tag</h2>
      <ul class="list-divided no-bullet lead">
        <li><a href="/blog/tag/?CreditSmart">CreditSmart</a></li>
        <li><a href="/blog/tag/?Economy">Economy</a></li>
        <li><a href="/blog/tag/?Education%20and%20Tools">Education & Tools</a></li>
        <li><a href="/blog/tag/?Fraud">Fraud</a></li>
        <li><a href="/blog/tag/?Freddie%20Mac">Freddie Mac</a></li>
        <li><a href="/blog/tag/?HARP">HARP</a></li>
        <li><a href="/blog/tag/?Homebuying">Homebuying</a></li>
        <li><a href="/blog/tag/?Homeownership">Homeownership</a></li>
        <li><a href="/blog/tag/?Home%20Sales">Home Sales</a></li>
        <li><a href="/blog/tag/?HomeSteps">HomeSteps</a></li>
        <li><a href="/blog/tag/?Housing Data">Housing Data</a></li>
        <li><a href="/blog/tag/?Mortgage%20Help">Mortgage Help</a></li>
        <li><a href="/blog/tag/?Mortgages">Mortgages</a></li>
        <li><a href="/blog/tag/?Multifamily">Multifamily</a></li>
        <li><a href="/blog/tag/?News">News</a></li>
        <li><a href="/blog/tag/?Refinance">Refinance</a></li>
        <li><a href="/blog/tag/?Renting">Renting</a></li>
        <li><a href="/blog/tag/?Single-Family">Single-Family</a></li>
      </ul>
    </div>
  </div>
</section>
