      <div class="tertiary-nav">
        <h2><a href="/corporate/terms.html">Terms & Conditions</a></h2> 
        <nav>
          <ul class="no-bullet">
            <li><a href="/corporate/copyright.html">Copyrights and Intellectual Property</a></li>
            <li><a href="/corporate/linking.html">Linking Policy</a></li>
            <li><a href="/corporate/privacy.html">Privacy Policy</a></li>
            <li><a href="/corporate/content-use.html">Content Use Permission</a></li>
            <li><a href="/corporate/logo-use.html">Logo Use Permission</a></li>
          </ul>
        </nav>
      </div>
