{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/ss/app_corp.css" />
  </head>
  <body>
  <div class="show-for-print">FreddieMac.com</div>
  <header id="header-nav" class="hide-for-print">  
    {{> ribbon}}
    {{> nav-corp-primary}}
    {{> nav-corp-secondary}}
  </header>  


    
    <!-- navigation to other sample pages-->  
    <!--   commenting out for now.
    {{#if samples}}  
    <section class="two-column-layout">
      <div class="row page-buffer">
        <div class="row">
          <main class="medium-7 large-8 columns">
            <div class="page-buffer">  
               <ul>
                {{#each samples.page}}
                  <li class="item-name"><a href="{{url}}">{{name}}</a></li> 
                {{/each}}
              </ul>
              {{/if}}
            </div>
          </main>
          <aside class="medium-5 large-4 columns">
          </aside>
        </div>
      </div>
    </section> 
    -->
    
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    
    {{> footer-corp}}

    <span id="isMobile"></span>
    <span id="isTablet"></span>
    <span id="isDesktop"></span>

    <!--[if lt IE 9]>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/'+'script>')</script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"><\/'+'script>')</script>
    <!--<![endif]-->
    <script>window.jQuery || document.write('<script src="{{root}}/js/vendor/jquery-2.1.4.min.js"><\/'+'script>')</script>
    <script src="/js/app_corp.js"></script>
  </body>
</html>
