{{!-- This is the base layout for side bar pages that AREN'T articles and that don't contain tertiary navs. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="abstract" content="{{ abstract }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@FreddieMac" />
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="Description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ image }}" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta name="theme-color" content="#88BD45">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/ss/app_corp.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  </head>
  <body class="grid-2col">
  <div class="show-for-print">FreddieMac.com</div>
  <header id="header-nav" class="hide-for-print">  

    {{> ribbon}}
    {{> nav-corp-primary}}
    {{> nav-corp-secondary}}
  </header>   
    {{> body}}
    {{> footer-corp}}
    {{> footer-js-corp}}
  </body>
</html>
